In [1]:
import pandas as pd
import os
import datetime
import time
import pytz
import re
import numpy as np


def import_user_data(file):
    with open(file, 'r') as f:
        df = pd.read_csv(file)
    return df

df_list = []
username_list = []
input = 'StudentLife_Dataset/Inputs/sensing/phonelock/'
for root, dirs, files in os.walk(input):
    for file in files:
        df_list.append(import_user_data(input + file))
        username_list.append(re.search('u[0-9]+', file).group())

print(len(username_list))

49

##### Notes on data
Data is collected starting from Week 1 Wednesday

In [2]:
# del df_list

def week_def():
    data_start = datetime.datetime.strptime("2013-03-25", "%Y-%m-%d")
    data_start = pytz.timezone("Etc/GMT+5").localize(data_start)
    week_start = []
    for i in range(0,10):
        diff = datetime.timedelta(days=(7*i))
        week_start.append(data_start + diff)
    return week_start

week_list = week_def()
print(week_list)
print(len(week_list))

[datetime.datetime(2013, 3, 25, 0, 0, tzinfo=<StaticTzInfo 'Etc/GMT+5'>), datetime.datetime(2013, 4, 1, 0, 0, tzinfo=<StaticTzInfo 'Etc/GMT+5'>), datetime.datetime(2013, 4, 8, 0, 0, tzinfo=<StaticTzInfo 'Etc/GMT+5'>), datetime.datetime(2013, 4, 15, 0, 0, tzinfo=<StaticTzInfo 'Etc/GMT+5'>), datetime.datetime(2013, 4, 22, 0, 0, tzinfo=<StaticTzInfo 'Etc/GMT+5'>), datetime.datetime(2013, 4, 29, 0, 0, tzinfo=<StaticTzInfo 'Etc/GMT+5'>), datetime.datetime(2013, 5, 6, 0, 0, tzinfo=<StaticTzInfo 'Etc/GMT+5'>), datetime.datetime(2013, 5, 13, 0, 0, tzinfo=<StaticTzInfo 'Etc/GMT+5'>), datetime.datetime(2013, 5, 20, 0, 0, tzinfo=<StaticTzInfo 'Etc/GMT+5'>), datetime.datetime(2013, 5, 27, 0, 0, tzinfo=<StaticTzInfo 'Etc/GMT+5'>)]
10

##### Data prep
Converting epoch times to GMT+5 datetime object and adding lock duration column

In [3]:
def parse_start_duration(df):
    duration_column = []
    start_datetime = []
    end_datetime = []
    for index, row in df.iterrows():
        start = datetime.datetime.fromtimestamp(row['start'], tz=pytz.timezone("Etc/GMT+5"))
        start_datetime.append(start)
        end = datetime.datetime.fromtimestamp(row['end'], tz=pytz.timezone("Etc/GMT+5"))
        end_datetime.append(end)
        duration_column.append(row['end'] - row['start'])
    df['duration'] = duration_column
    df['start_datetime'] = start_datetime
    df['end_datetime'] = end_datetime

    
for df in df_list:
    parse_start_duration(df)
    print(df)

          start         end  duration            start_datetime  \
0    1364358992  1364364807      5815 2013-03-26 23:36:32-05:00
1    1364365565  1364381933     16368 2013-03-27 01:26:05-05:00
2    1364386333  1364391008      4675 2013-03-27 07:12:13-05:00
3    1364406378  1364411049      4671 2013-03-27 12:46:18-05:00
4    1364425558  1364429471      3913 2013-03-27 18:05:58-05:00
..          ...         ...       ...                       ...
221  1369999079  1370002971      3892 2013-05-31 06:17:59-05:00
222  1370005683  1370011063      5380 2013-05-31 08:08:03-05:00
223  1370022662  1370026418      3756 2013-05-31 12:51:02-05:00
224  1370029018  1370033858      4840 2013-05-31 14:36:58-05:00
225  1370039923  1370043843      3920 2013-05-31 17:38:43-05:00

                 end_datetime
0   2013-03-27 01:13:27-05:00
1   2013-03-27 05:58:53-05:00
2   2013-03-27 08:30:08-05:00
3   2013-03-27 14:04:09-05:00
4   2013-03-27 19:11:11-05:00
..                        ...
221 2013-05-31 07:22:51-05:00
222 2013-05-31 09:37:43-05:00
223 2013-05-31 13:53:38-05:00
224 2013-05-31 15:57:38-05:00
225 2013-05-31 18:44:03-05:00

[226 rows x 5 columns]
          start         end  duration            start_datetime  \
0    1364359161  1364387080     27919 2013-03-26 23:39:21-05:00
1    1364395185  1364402754      7569 2013-03-27 09:39:45-05:00
2    1364402806  1364409439      6633 2013-03-27 11:46:46-05:00
3    1364427062  1364432230      5168 2013-03-27 18:31:02-05:00
4    1364492901  1364497204      4303 2013-03-28 12:48:21-05:00
..          ...         ...       ...                       ...
211  1369771040  1369780524      9484 2013-05-28 14:57:20-05:00
212  1369780555  1369784980      4425 2013-05-28 17:35:55-05:00
213  1369785010  1369793899      8889 2013-05-28 18:50:10-05:00
214  1369795479  1369807760     12281 2013-05-28 21:44:39-05:00
215  1369807867  1369813015      5148 2013-05-29 01:11:07-05:00

                 end_datetime
0   2013-03-27 07:24:40-05:00
1   2013-03-27 11:45:54-05:00
2   2013-03-27 13:37:19-05:00
3   2013-03-27 19:57:10-05:00
4   2013-03-28 14:00:04-05:00
..                        ...
211 2013-05-28 17:35:24-05:00
212 2013-05-28 18:49:40-05:00
213 2013-05-28 21:18:19-05:00
214 2013-05-29 01:09:20-05:00
215 2013-05-29 02:36:55-05:00

[216 rows x 5 columns]
          start         end  duration            start_datetime  \
0    1364358973  1364389922     30949 2013-03-26 23:36:13-05:00
1    1364525264  1364532809      7545 2013-03-28 21:47:44-05:00
2    1364534436  1364556600     22164 2013-03-29 00:20:36-05:00
3    1364576325  1364586822     10497 2013-03-29 11:58:45-05:00
4    1364608565  1364625724     17159 2013-03-29 20:56:05-05:00
..          ...         ...       ...                       ...
151  1369856831  1369866137      9306 2013-05-29 14:47:11-05:00
152  1369888529  1369903977     15448 2013-05-29 23:35:29-05:00
153  1369904017  1369917078     13061 2013-05-30 03:53:37-05:00
154  1369933324  1369938824      5500 2013-05-30 12:02:04-05:00
155  1369980054  1370000756     20702 2013-05-31 01:00:54-05:00

                 end_datetime
0   2013-03-27 08:12:02-05:00
1   2013-03-28 23:53:29-05:00
2   2013-03-29 06:30:00-05:00
3   2013-03-29 14:53:42-05:00
4   2013-03-30 01:42:04-05:00
..                        ...
151 2013-05-29 17:22:17-05:00
152 2013-05-30 03:52:57-05:00
153 2013-05-30 07:31:18-05:00
154 2013-05-30 13:33:44-05:00
155 2013-05-31 06:45:56-05:00

[156 rows x 5 columns]
          start         end  duration            start_datetime  \
0    1364338841  1364358441     19600 2013-03-26 18:00:41-05:00
1    1364358624  1364382387     23763 2013-03-26 23:30:24-05:00
2    1364382444  1364389767      7323 2013-03-27 06:07:24-05:00
3    1364394834  1364401717      6883 2013-03-27 09:33:54-05:00
4    1364405264  1364414864      9600 2013-03-27 12:27:44-05:00
..          ...         ...       ...                       ...
97   1368503593  1368508134      4541 2013-05-13 22:53:13-05:00
98   1368629627  1368662064     32437 2013-05-15 09:53:47-05:00
99   1368662096  1368679902     17806 2013-05-15 18:54:56-05:00
100  1368679933  1368689754      9821 2013-05-15 23:52:13-05:00
101  1369142634  1369148369      5735 2013-05-21 08:23:54-05:00

                 end_datetime
0   2013-03-26 23:27:21-05:00
1   2013-03-27 06:06:27-05:00
2   2013-03-27 08:09:27-05:00
3   2013-03-27 11:28:37-05:00
4   2013-03-27 15:07:44-05:00
..                        ...
97  2013-05-14 00:08:54-05:00
98  2013-05-15 18:54:24-05:00
99  2013-05-15 23:51:42-05:00
100 2013-05-16 02:35:54-05:00
101 2013-05-21 09:59:29-05:00

[102 rows x 5 columns]
          start         end  duration            start_datetime  \
0    1364356017  1364381451     25434 2013-03-26 22:46:57-05:00
1    1364385245  1364389698      4453 2013-03-27 06:54:05-05:00
2    1364402216  1364408831      6615 2013-03-27 11:36:56-05:00
3    1364410389  1364420534     10145 2013-03-27 13:53:09-05:00
4    1364422961  1364430153      7192 2013-03-27 17:22:41-05:00
..          ...         ...       ...                       ...
236  1368847164  1368873569     26405 2013-05-17 22:19:24-05:00
237  1368971443  1368983404     11961 2013-05-19 08:50:43-05:00
238  1369110007  1369138007     28000 2013-05-20 23:20:07-05:00
239  1369138037  1369153414     15377 2013-05-21 07:07:17-05:00
240  1369198070  1369223362     25292 2013-05-21 23:47:50-05:00

                 end_datetime
0   2013-03-27 05:50:51-05:00
1   2013-03-27 08:08:18-05:00
2   2013-03-27 13:27:11-05:00
3   2013-03-27 16:42:14-05:00
4   2013-03-27 19:22:33-05:00
..                        ...
236 2013-05-18 05:39:29-05:00
237 2013-05-19 12:10:04-05:00
238 2013-05-21 07:06:47-05:00
239 2013-05-21 11:23:34-05:00
240 2013-05-22 06:49:22-05:00

[241 rows x 5 columns]
          start         end  duration            start_datetime  \
0    1364358431  1364391339     32908 2013-03-26 23:27:11-05:00
1    1364394298  1364398241      3943 2013-03-27 09:24:58-05:00
2    1364400774  1364411497     10723 2013-03-27 11:12:54-05:00
3    1364414853  1364421800      6947 2013-03-27 15:07:33-05:00
4    1364421825  1364425491      3666 2013-03-27 17:03:45-05:00
..          ...         ...       ...                       ...
175  1369612628  1369625377     12749 2013-05-26 18:57:08-05:00
176  1369749626  1369754174      4548 2013-05-28 09:00:26-05:00
177  1369759582  1369775183     15601 2013-05-28 11:46:22-05:00
178  1369785090  1369789930      4840 2013-05-28 18:51:30-05:00
179  1369807083  1369827617     20534 2013-05-29 00:58:03-05:00

                 end_datetime
0   2013-03-27 08:35:39-05:00
1   2013-03-27 10:30:41-05:00
2   2013-03-27 14:11:37-05:00
3   2013-03-27 17:03:20-05:00
4   2013-03-27 18:04:51-05:00
..                        ...
175 2013-05-26 22:29:37-05:00
176 2013-05-28 10:16:14-05:00
177 2013-05-28 16:06:23-05:00
178 2013-05-28 20:12:10-05:00
179 2013-05-29 06:40:17-05:00

[180 rows x 5 columns]
          start         end  duration            start_datetime  \
0    1364365520  1364390180     24660 2013-03-27 01:25:20-05:00
1    1364396882  1364402288      5406 2013-03-27 10:08:02-05:00
2    1364412420  1364419298      6878 2013-03-27 14:27:00-05:00
3    1364441150  1364445265      4115 2013-03-27 22:25:50-05:00
4    1364445599  1364479371     33772 2013-03-27 23:39:59-05:00
..          ...         ...       ...                       ...
148  1368388039  1368419724     31685 2013-05-12 14:47:19-05:00
149  1368419994  1368451902     31908 2013-05-12 23:39:54-05:00
150  1368456498  1368461784      5286 2013-05-13 09:48:18-05:00
151  1368463515  1368482897     19382 2013-05-13 11:45:15-05:00
152  1368485326  1368490969      5643 2013-05-13 17:48:46-05:00

                 end_datetime
0   2013-03-27 08:16:20-05:00
1   2013-03-27 11:38:08-05:00
2   2013-03-27 16:21:38-05:00
3   2013-03-27 23:34:25-05:00
4   2013-03-28 09:02:51-05:00
..                        ...
148 2013-05-12 23:35:24-05:00
149 2013-05-13 08:31:42-05:00
150 2013-05-13 11:16:24-05:00
151 2013-05-13 17:08:17-05:00
152 2013-05-13 19:22:49-05:00

[153 rows x 5 columns]
          start         end  duration            start_datetime  \
0    1364354294  1364359432      5138 2013-03-26 22:18:14-05:00
1    1364361799  1364381619     19820 2013-03-27 00:23:19-05:00
2    1364381664  1364385600      3936 2013-03-27 05:54:24-05:00
3    1364397331  1364401423      4092 2013-03-27 10:15:31-05:00
4    1364409736  1364414927      5191 2013-03-27 13:42:16-05:00
..          ...         ...       ...                       ...
271  1369739701  1369745577      5876 2013-05-28 06:15:01-05:00
272  1369750673  1369755972      5299 2013-05-28 09:17:53-05:00
273  1369756498  1369770583     14085 2013-05-28 10:54:58-05:00
274  1369770614  1369776908      6294 2013-05-28 14:50:14-05:00
275  1369777203  1369785214      8011 2013-05-28 16:40:03-05:00

                 end_datetime
0   2013-03-26 23:43:52-05:00
1   2013-03-27 05:53:39-05:00
2   2013-03-27 07:00:00-05:00
3   2013-03-27 11:23:43-05:00
4   2013-03-27 15:08:47-05:00
..                        ...
271 2013-05-28 07:52:57-05:00
272 2013-05-28 10:46:12-05:00
273 2013-05-28 14:49:43-05:00
274 2013-05-28 16:35:08-05:00
275 2013-05-28 18:53:34-05:00

[276 rows x 5 columns]

          start         end  duration            start_datetime  \
0    1364354446  1364387635     33189 2013-03-26 22:20:46-05:00
1    1364401807  1364405921      4114 2013-03-27 11:30:07-05:00
2    1364410419  1364419879      9460 2013-03-27 13:53:39-05:00
3    1364420409  1364434137     13728 2013-03-27 16:40:09-05:00
4    1364441783  1364476678     34895 2013-03-27 22:36:23-05:00
..          ...         ...       ...                       ...
214  1369843638  1369850570      6932 2013-05-29 11:07:18-05:00
215  1369850764  1369871682     20918 2013-05-29 13:06:04-05:00
216  1369874965  1369885863     10898 2013-05-29 19:49:25-05:00
217  1369956052  1369962851      6799 2013-05-30 18:20:52-05:00
218  1369964187  1369968939      4752 2013-05-30 20:36:27-05:00

                 end_datetime
0   2013-03-27 07:33:55-05:00
1   2013-03-27 12:38:41-05:00
2   2013-03-27 16:31:19-05:00
3   2013-03-27 20:28:57-05:00
4   2013-03-28 08:17:58-05:00
..                        ...
214 2013-05-29 13:02:50-05:00
215 2013-05-29 18:54:42-05:00
216 2013-05-29 22:51:03-05:00
217 2013-05-30 20:14:11-05:00
218 2013-05-30 21:55:39-05:00

[219 rows x 5 columns]
          start         end  duration            start_datetime  \
0    1364358837  1364387258     28421 2013-03-26 23:33:57-05:00
1    1364392591  1364396823      4232 2013-03-27 08:56:31-05:00
2    1364401614  1364405739      4125 2013-03-27 11:26:54-05:00
3    1364406169  1364410432      4263 2013-03-27 12:42:49-05:00
4    1364420034  1364425733      5699 2013-03-27 16:33:54-05:00
..          ...         ...       ...                       ...
296  1369935085  1369948999     13914 2013-05-30 12:31:25-05:00
297  1369956879  1369961871      4992 2013-05-30 18:34:39-05:00
298  1370043043  1370046985      3942 2013-05-31 18:30:43-05:00
299  1370047015  1370050687      3672 2013-05-31 19:36:55-05:00
300  1370050717  1370057815      7098 2013-05-31 20:38:37-05:00

                 end_datetime
0   2013-03-27 07:27:38-05:00
1   2013-03-27 10:07:03-05:00
2   2013-03-27 12:35:39-05:00
3   2013-03-27 13:53:52-05:00
4   2013-03-27 18:08:53-05:00
..                        ...
296 2013-05-30 16:23:19-05:00
297 2013-05-30 19:57:51-05:00
298 2013-05-31 19:36:25-05:00
299 2013-05-31 20:38:07-05:00
300 2013-05-31 22:36:55-05:00

[301 rows x 5 columns]
          start         end  duration            start_datetime  \
0    1364356297  1364382000     25703 2013-03-26 22:51:37-05:00
1    1364383342  1364388138      4796 2013-03-27 06:22:22-05:00
2    1364392397  1364396856      4459 2013-03-27 08:53:17-05:00
3    1364397358  1364401589      4231 2013-03-27 10:15:58-05:00
4    1364402008  1364405745      3737 2013-03-27 11:33:28-05:00
..          ...         ...       ...                       ...
334  1369861538  1369870387      8849 2013-05-29 16:05:38-05:00
335  1369933568  1369945644     12076 2013-05-30 12:06:08-05:00
336  1369948525  1369954720      6195 2013-05-30 16:15:25-05:00
337  1370023476  1370030994      7518 2013-05-31 13:04:36-05:00
338  1370054456  1370058612      4156 2013-05-31 21:40:56-05:00

                 end_datetime
0   2013-03-27 06:00:00-05:00
1   2013-03-27 07:42:18-05:00
2   2013-03-27 10:07:36-05:00
3   2013-03-27 11:26:29-05:00
4   2013-03-27 12:35:45-05:00
..                        ...
334 2013-05-29 18:33:07-05:00
335 2013-05-30 15:27:24-05:00
336 2013-05-30 17:58:40-05:00
337 2013-05-31 15:09:54-05:00
338 2013-05-31 22:50:12-05:00

[339 rows x 5 columns]
          start         end  duration            start_datetime  \
0    1364515764  1364519909      4145 2013-03-28 19:09:24-05:00
1    1364531643  1364535388      3745 2013-03-28 23:34:03-05:00
2    1364601652  1364608016      6364 2013-03-29 19:00:52-05:00
3    1364706683  1364742137     35454 2013-03-31 00:11:23-05:00
4    1364824368  1364828096      3728 2013-04-01 08:52:48-05:00
..          ...         ...       ...                       ...
192  1369753645  1369763222      9577 2013-05-28 10:07:25-05:00
193  1369771023  1369774624      3601 2013-05-28 14:57:03-05:00
194  1369802154  1369822120     19966 2013-05-28 23:35:54-05:00
195  1369853578  1369857491      3913 2013-05-29 13:52:58-05:00
196  1369878353  1369887641      9288 2013-05-29 20:45:53-05:00

                 end_datetime
0   2013-03-28 20:18:29-05:00
1   2013-03-29 00:36:28-05:00
2   2013-03-29 20:46:56-05:00
3   2013-03-31 10:02:17-05:00
4   2013-04-01 09:54:56-05:00
..                        ...
192 2013-05-28 12:47:02-05:00
193 2013-05-28 15:57:04-05:00
194 2013-05-29 05:08:40-05:00
195 2013-05-29 14:58:11-05:00
196 2013-05-29 23:20:41-05:00

[197 rows x 5 columns]
          start         end  duration            start_datetime  \
0    1364359213  1364389919     30706 2013-03-26 23:40:13-05:00
1    1364392681  1364396856      4175 2013-03-27 08:58:01-05:00
2    1364396877  1364408012     11135 2013-03-27 10:07:57-05:00
3    1364408020  1364411808      3788 2013-03-27 13:13:40-05:00
4    1364411983  1364418062      6079 2013-03-27 14:19:43-05:00
..          ...         ...       ...                       ...
212  1369790296  1369795406      5110 2013-05-28 20:18:16-05:00
213  1369798371  1369803106      4735 2013-05-28 22:32:51-05:00
214  1369820300  1369824768      4468 2013-05-29 04:38:20-05:00
215  1369825604  1369829389      3785 2013-05-29 06:06:44-05:00
216  1369832208  1369836889      4681 2013-05-29 07:56:48-05:00

                 end_datetime
0   2013-03-27 08:11:59-05:00
1   2013-03-27 10:07:36-05:00
2   2013-03-27 13:13:32-05:00
3   2013-03-27 14:16:48-05:00
4   2013-03-27 16:01:02-05:00
..                        ...
212 2013-05-28 21:43:26-05:00
213 2013-05-28 23:51:46-05:00
214 2013-05-29 05:52:48-05:00
215 2013-05-29 07:09:49-05:00
216 2013-05-29 09:14:49-05:00

[217 rows x 5 columns]
         start         end  duration            start_datetime  \
0   1364357526  1364386856     29330 2013-03-26 23:12:06-05:00
1   1364396763  1364404425      7662 2013-03-27 10:06:03-05:00
2   1364410433  1364423434     13001 2013-03-27 13:53:53-05:00
3   1364500412  1364515280     14868 2013-03-28 14:53:32-05:00
4   1364519613  1364531118     11505 2013-03-28 20:13:33-05:00
5   1364531504  1364559967     28463 2013-03-28 23:31:44-05:00
6   1364560010  1364565543      5533 2013-03-29 07:26:50-05:00
7   1364570025  1364595771     25746 2013-03-29 10:13:45-05:00
8   1364595816  1364599932      4116 2013-03-29 17:23:36-05:00
9   1364601240  1364608610      7370 2013-03-29 18:54:00-05:00
10  1364659644  1364671219     11575 2013-03-30 11:07:24-05:00
11  1364671260  1364679446      8186 2013-03-30 14:21:00-05:00
12  1364754859  1364762504      7645 2013-03-31 13:34:19-05:00
13  1364762510  1364768447      5937 2013-03-31 15:41:50-05:00
14  1364963842  1364992908     29066 2013-04-02 23:37:22-05:00
15  1364992950  1364997678      4728 2013-04-03 07:42:30-05:00
16  1365002068  1365009184      7116 2013-04-03 10:14:28-05:00
17  1365009220  1365036543     27323 2013-04-03 12:13:40-05:00
18  1365122906  1365137063     14157 2013-04-04 19:48:26-05:00
19  1365137083  1365170412     33329 2013-04-04 23:44:43-05:00
20  1365173676  1365207383     33707 2013-04-05 09:54:36-05:00
21  1365213534  1365243637     30103 2013-04-05 20:58:54-05:00
22  1365243667  1365276282     32615 2013-04-06 05:21:07-05:00
23  1365276499  1365300222     23723 2013-04-06 14:28:19-05:00
24  1365349045  1365373132     24087 2013-04-07 10:37:25-05:00
25  1365373158  1365378034      4876 2013-04-07 17:19:18-05:00
26  1365378074  1365386343      8269 2013-04-07 18:41:14-05:00
27  1365479455  1365512188     32733 2013-04-08 22:50:55-05:00
28  1365516159  1365522459      6300 2013-04-09 09:02:39-05:00
29  1365522509  1365555581     33072 2013-04-09 10:48:29-05:00
30  1365602718  1365606355      3637 2013-04-10 09:05:18-05:00
31  1365817063  1365850454     33391 2013-04-12 20:37:43-05:00
32  1365969255  1365975284      6029 2013-04-14 14:54:15-05:00
33  1366042521  1366046870      4349 2013-04-15 11:15:21-05:00
34  1366047463  1366051564      4101 2013-04-15 12:37:43-05:00
35  1366051595  1366061219      9624 2013-04-15 13:46:35-05:00
36  1366061933  1366067075      5142 2013-04-15 16:38:53-05:00
37  1366155432  1366159484      4052 2013-04-16 18:37:12-05:00
38  1366163301  1366168008      4707 2013-04-16 20:48:21-05:00
39  1366486700  1366501435     14735 2013-04-20 14:38:20-05:00
40  1366643093  1366662400     19307 2013-04-22 10:04:53-05:00
41  1367184711  1367190506      5795 2013-04-28 16:31:51-05:00
42  1367212518  1367246490     33972 2013-04-29 00:15:18-05:00
43  1367246550  1367273794     27244 2013-04-29 09:42:30-05:00
44  1367774948  1367779464      4516 2013-05-05 12:29:08-05:00
45  1367786228  1367801007     14779 2013-05-05 15:37:08-05:00
46  1367811228  1367846875     35647 2013-05-05 22:33:48-05:00
47  1367891613  1367901883     10270 2013-05-06 20:53:33-05:00
48  1367986708  1368020983     34275 2013-05-07 23:18:28-05:00
49  1368021014  1368029997      8983 2013-05-08 08:50:14-05:00
50  1368030002  1368039825      9823 2013-05-08 11:20:02-05:00
51  1368437666  1368449255     11589 2013-05-13 04:34:26-05:00
52  1368449493  1368453795      4302 2013-05-13 07:51:33-05:00
53  1368456207  1368490099     33892 2013-05-13 09:43:27-05:00
54  1368580993  1368586265      5272 2013-05-14 20:23:13-05:00
55  1369689821  1369694842      5021 2013-05-27 16:23:41-05:00
56  1369699196  1369703318      4122 2013-05-27 18:59:56-05:00
57  1369876582  1369881741      5159 2013-05-29 20:16:22-05:00

                end_datetime
0  2013-03-27 07:20:56-05:00
1  2013-03-27 12:13:45-05:00
2  2013-03-27 17:30:34-05:00
3  2013-03-28 19:01:20-05:00
4  2013-03-28 23:25:18-05:00
5  2013-03-29 07:26:07-05:00
6  2013-03-29 08:59:03-05:00
7  2013-03-29 17:22:51-05:00
8  2013-03-29 18:32:12-05:00
9  2013-03-29 20:56:50-05:00
10 2013-03-30 14:20:19-05:00
11 2013-03-30 16:37:26-05:00
12 2013-03-31 15:41:44-05:00
13 2013-03-31 17:20:47-05:00
14 2013-04-03 07:41:48-05:00
15 2013-04-03 09:01:18-05:00
16 2013-04-03 12:13:04-05:00
17 2013-04-03 19:49:03-05:00
18 2013-04-04 23:44:23-05:00
19 2013-04-05 09:00:12-05:00
20 2013-04-05 19:16:23-05:00
21 2013-04-06 05:20:37-05:00
22 2013-04-06 14:24:42-05:00
23 2013-04-06 21:03:42-05:00
24 2013-04-07 17:18:52-05:00
25 2013-04-07 18:40:34-05:00
26 2013-04-07 20:59:03-05:00
27 2013-04-09 07:56:28-05:00
28 2013-04-09 10:47:39-05:00
29 2013-04-09 19:59:41-05:00
30 2013-04-10 10:05:55-05:00
31 2013-04-13 05:54:14-05:00
32 2013-04-14 16:34:44-05:00
33 2013-04-15 12:27:50-05:00
34 2013-04-15 13:46:04-05:00
35 2013-04-15 16:26:59-05:00
36 2013-04-15 18:04:35-05:00
37 2013-04-16 19:44:44-05:00
38 2013-04-16 22:06:48-05:00
39 2013-04-20 18:43:55-05:00
40 2013-04-22 15:26:40-05:00
41 2013-04-28 18:08:26-05:00
42 2013-04-29 09:41:30-05:00
43 2013-04-29 17:16:34-05:00
44 2013-05-05 13:44:24-05:00
45 2013-05-05 19:43:27-05:00
46 2013-05-06 08:27:55-05:00
47 2013-05-06 23:44:43-05:00
48 2013-05-08 08:49:43-05:00
49 2013-05-08 11:19:57-05:00
50 2013-05-08 14:03:45-05:00
51 2013-05-13 07:47:35-05:00
52 2013-05-13 09:03:15-05:00
53 2013-05-13 19:08:19-05:00
54 2013-05-14 21:51:05-05:00
55 2013-05-27 17:47:22-05:00
56 2013-05-27 20:08:38-05:00
57 2013-05-29 21:42:21-05:00
          start         end  duration            start_datetime  \
0    1364357181  1364384566     27385 2013-03-26 23:06:21-05:00
1    1364392931  1364396770      3839 2013-03-27 09:02:11-05:00
2    1364412039  1364417072      5033 2013-03-27 14:20:39-05:00
3    1364421150  1364425332      4182 2013-03-27 16:52:30-05:00
4    1364425389  1364431019      5630 2013-03-27 18:03:09-05:00
..          ...         ...       ...                       ...
237  1369768725  1369772582      3857 2013-05-28 14:18:45-05:00
238  1369779963  1369786653      6690 2013-05-28 17:26:03-05:00
239  1369787968  1369795426      7458 2013-05-28 19:39:28-05:00
240  1369796098  1369801850      5752 2013-05-28 21:54:58-05:00
241  1369817342  1369821899      4557 2013-05-29 03:49:02-05:00

                 end_datetime
0   2013-03-27 06:42:46-05:00
1   2013-03-27 10:06:10-05:00
2   2013-03-27 15:44:32-05:00
3   2013-03-27 18:02:12-05:00
4   2013-03-27 19:36:59-05:00
..                        ...
237 2013-05-28 15:23:02-05:00
238 2013-05-28 19:17:33-05:00
239 2013-05-28 21:43:46-05:00
240 2013-05-28 23:30:50-05:00
241 2013-05-29 05:04:59-05:00

[242 rows x 5 columns]

          start         end  duration            start_datetime  \
0    1364349839  1364358697      8858 2013-03-26 21:03:59-05:00
1    1364358773  1364391722     32949 2013-03-26 23:32:53-05:00
2    1364396691  1364403222      6531 2013-03-27 10:04:51-05:00
3    1364407972  1364414572      6600 2013-03-27 13:12:52-05:00
4    1364417976  1364428449     10473 2013-03-27 15:59:36-05:00
..          ...         ...       ...                       ...
224  1369835404  1369840187      4783 2013-05-29 08:50:04-05:00
225  1369840217  1369853035     12818 2013-05-29 10:10:17-05:00
226  1369854680  1369877400     22720 2013-05-29 14:11:20-05:00
227  1369877500  1369911859     34359 2013-05-29 20:31:40-05:00
228  1369964406  1369984747     20341 2013-05-30 20:40:06-05:00

                 end_datetime
0   2013-03-26 23:31:37-05:00
1   2013-03-27 08:42:02-05:00
2   2013-03-27 11:53:42-05:00
3   2013-03-27 15:02:52-05:00
4   2013-03-27 18:54:09-05:00
..                        ...
224 2013-05-29 10:09:47-05:00
225 2013-05-29 13:43:55-05:00
226 2013-05-29 20:30:00-05:00
227 2013-05-30 06:04:19-05:00
228 2013-05-31 02:19:07-05:00

[229 rows x 5 columns]
          start         end  duration            start_datetime  \
0    1364411637  1364417887      6250 2013-03-27 14:13:57-05:00
1    1364421120  1364435910     14790 2013-03-27 16:52:00-05:00
2    1364435992  1364470317     34325 2013-03-27 20:59:52-05:00
3    1364470375  1364476619      6244 2013-03-28 06:32:55-05:00
4    1364481145  1364501200     20055 2013-03-28 09:32:25-05:00
..          ...         ...       ...                       ...
159  1369631055  1369665335     34280 2013-05-27 00:04:15-05:00
160  1369682446  1369695144     12698 2013-05-27 14:20:46-05:00
161  1369700019  1369708800      8781 2013-05-27 19:13:39-05:00
162  1369823159  1369827248      4089 2013-05-29 05:25:59-05:00
163  1369827278  1369833056      5778 2013-05-29 06:34:38-05:00

                 end_datetime
0   2013-03-27 15:58:07-05:00
1   2013-03-27 20:58:30-05:00
2   2013-03-28 06:31:57-05:00
3   2013-03-28 08:16:59-05:00
4   2013-03-28 15:06:40-05:00
..                        ...
159 2013-05-27 09:35:35-05:00
160 2013-05-27 17:52:24-05:00
161 2013-05-27 21:40:00-05:00
162 2013-05-29 06:34:08-05:00
163 2013-05-29 08:10:56-05:00

[164 rows x 5 columns]
          start         end  duration            start_datetime  \
0    1364354918  1364387085     32167 2013-03-26 22:28:38-05:00
1    1364387104  1364391863      4759 2013-03-27 07:25:04-05:00
2    1364444542  1364470322     25780 2013-03-27 23:22:22-05:00
3    1364480870  1364487286      6416 2013-03-28 09:27:50-05:00
4    1364520258  1364529239      8981 2013-03-28 20:24:18-05:00
..          ...         ...       ...                       ...
249  1369955167  1369958927      3760 2013-05-30 18:06:07-05:00
250  1369972690  1370000580     27890 2013-05-30 22:58:10-05:00
251  1370000642  1370009616      8974 2013-05-31 06:44:02-05:00
252  1370034324  1370037997      3673 2013-05-31 16:05:24-05:00
253  1370040924  1370046068      5144 2013-05-31 17:55:24-05:00

                 end_datetime
0   2013-03-27 07:24:45-05:00
1   2013-03-27 08:44:23-05:00
2   2013-03-28 06:32:02-05:00
3   2013-03-28 11:14:46-05:00
4   2013-03-28 22:53:59-05:00
..                        ...
249 2013-05-30 19:08:47-05:00
250 2013-05-31 06:43:00-05:00
251 2013-05-31 09:13:36-05:00
252 2013-05-31 17:06:37-05:00
253 2013-05-31 19:21:08-05:00

[254 rows x 5 columns]
          start         end  duration            start_datetime  \
0    1364406314  1364410187      3873 2013-03-27 12:45:14-05:00
1    1364415013  1364419143      4130 2013-03-27 15:10:13-05:00
2    1364419175  1364424681      5506 2013-03-27 16:19:35-05:00
3    1364429115  1364433790      4675 2013-03-27 19:05:15-05:00
4    1364436663  1364444652      7989 2013-03-27 21:11:03-05:00
..          ...         ...       ...                       ...
105  1368999055  1369006377      7322 2013-05-19 16:30:55-05:00
106  1369006427  1369015874      9447 2013-05-19 18:33:47-05:00
107  1369015925  1369036538     20613 2013-05-19 21:12:05-05:00
108  1369036569  1369052528     15959 2013-05-20 02:56:09-05:00
109  1369052558  1369084669     32111 2013-05-20 07:22:38-05:00

                 end_datetime
0   2013-03-27 13:49:47-05:00
1   2013-03-27 16:19:03-05:00
2   2013-03-27 17:51:21-05:00
3   2013-03-27 20:23:10-05:00
4   2013-03-27 23:24:12-05:00
..                        ...
105 2013-05-19 18:32:57-05:00
106 2013-05-19 21:11:14-05:00
107 2013-05-20 02:55:38-05:00
108 2013-05-20 07:22:08-05:00
109 2013-05-20 16:17:49-05:00

[110 rows x 5 columns]
          start         end  duration            start_datetime  \
0    1364355902  1364360506      4604 2013-03-26 22:45:02-05:00
1    1364360511  1364391718     31207 2013-03-27 00:01:51-05:00
2    1364396794  1364406157      9363 2013-03-27 10:06:34-05:00
3    1364408929  1364414246      5317 2013-03-27 13:28:49-05:00
4    1364416478  1364424390      7912 2013-03-27 15:34:38-05:00
..          ...         ...       ...                       ...
207  1369925047  1369931368      6321 2013-05-30 09:44:07-05:00
208  1369934406  1369944954     10548 2013-05-30 12:20:06-05:00
209  1369945648  1369953012      7364 2013-05-30 15:27:28-05:00
210  1369957794  1369963177      5383 2013-05-30 18:49:54-05:00
211  1370035848  1370045192      9344 2013-05-31 16:30:48-05:00

                 end_datetime
0   2013-03-27 00:01:46-05:00
1   2013-03-27 08:41:58-05:00
2   2013-03-27 12:42:37-05:00
3   2013-03-27 14:57:26-05:00
4   2013-03-27 17:46:30-05:00
..                        ...
207 2013-05-30 11:29:28-05:00
208 2013-05-30 15:15:54-05:00
209 2013-05-30 17:30:12-05:00
210 2013-05-30 20:19:37-05:00
211 2013-05-31 19:06:32-05:00

[212 rows x 5 columns]
          start         end  duration            start_datetime  \
0    1364429169  1364436811      7642 2013-03-27 19:06:09-05:00
1    1364440292  1364447110      6818 2013-03-27 22:11:32-05:00
2    1364449454  1364465655     16201 2013-03-28 00:44:14-05:00
3    1364467042  1364473801      6759 2013-03-28 05:37:22-05:00
4    1364500721  1364509803      9082 2013-03-28 14:58:41-05:00
..          ...         ...       ...                       ...
209  1369207994  1369211966      3972 2013-05-22 02:33:14-05:00
210  1369268140  1369288447     20307 2013-05-22 19:15:40-05:00
211  1369288595  1369292400      3805 2013-05-23 00:56:35-05:00
212  1369300374  1369304219      3845 2013-05-23 04:12:54-05:00
213  1369314100  1369320997      6897 2013-05-23 08:01:40-05:00

                 end_datetime
0   2013-03-27 21:13:31-05:00
1   2013-03-28 00:05:10-05:00
2   2013-03-28 05:14:15-05:00
3   2013-03-28 07:30:01-05:00
4   2013-03-28 17:30:03-05:00
..                        ...
209 2013-05-22 03:39:26-05:00
210 2013-05-23 00:54:07-05:00
211 2013-05-23 02:00:00-05:00
212 2013-05-23 05:16:59-05:00
213 2013-05-23 09:56:37-05:00

[214 rows x 5 columns]
          start         end  duration            start_datetime  \
0    1364411236  1364415964      4728 2013-03-27 14:07:16-05:00
1    1364486153  1364496175     10022 2013-03-28 10:55:53-05:00
2    1364496232  1364500049      3817 2013-03-28 13:43:52-05:00
3    1364509794  1364515593      5799 2013-03-28 17:29:54-05:00
4    1364515974  1364524809      8835 2013-03-28 19:12:54-05:00
..          ...         ...       ...                       ...
121  1366942939  1366947024      4085 2013-04-25 21:22:19-05:00
122  1366948781  1366956701      7920 2013-04-25 22:59:41-05:00
123  1366956756  1366980658     23902 2013-04-26 01:12:36-05:00
124  1367019242  1367046206     26964 2013-04-26 18:34:02-05:00
125  1367046209  1367067995     21786 2013-04-27 02:03:29-05:00

                 end_datetime
0   2013-03-27 15:26:04-05:00
1   2013-03-28 13:42:55-05:00
2   2013-03-28 14:47:29-05:00
3   2013-03-28 19:06:33-05:00
4   2013-03-28 21:40:09-05:00
..                        ...
121 2013-04-25 22:30:24-05:00
122 2013-04-26 01:11:41-05:00
123 2013-04-26 07:50:58-05:00
124 2013-04-27 02:03:26-05:00
125 2013-04-27 08:06:35-05:00

[126 rows x 5 columns]
          start         end  duration            start_datetime  \
0    1364406654  1364414290      7636 2013-03-27 12:50:54-05:00
1    1364415117  1364418720      3603 2013-03-27 15:11:57-05:00
2    1364422565  1364429719      7154 2013-03-27 17:16:05-05:00
3    1364474622  1364478786      4164 2013-03-28 07:43:42-05:00
4    1364479939  1364486154      6215 2013-03-28 09:12:19-05:00
..          ...         ...       ...                       ...
99   1367617025  1367623446      6421 2013-05-03 16:37:05-05:00
100  1369443512  1369460227     16715 2013-05-24 19:58:32-05:00
101  1369614274  1369618777      4503 2013-05-26 19:24:34-05:00
102  1369770825  1369803800     32975 2013-05-28 14:53:45-05:00
103  1369812550  1369817413      4863 2013-05-29 02:29:10-05:00

                 end_datetime
0   2013-03-27 14:58:10-05:00
1   2013-03-27 16:12:00-05:00
2   2013-03-27 19:15:19-05:00
3   2013-03-28 08:53:06-05:00
4   2013-03-28 10:55:54-05:00
..                        ...
99  2013-05-03 18:24:06-05:00
100 2013-05-25 00:37:07-05:00
101 2013-05-26 20:39:37-05:00
102 2013-05-29 00:03:20-05:00
103 2013-05-29 03:50:13-05:00

[104 rows x 5 columns]
          start         end  duration            start_datetime  \
0    1364415545  1364424461      8916 2013-03-27 15:19:05-05:00
1    1364490541  1364496971      6430 2013-03-28 12:09:01-05:00
2    1364510678  1364516844      6166 2013-03-28 17:44:38-05:00
3    1364528070  1364532859      4789 2013-03-28 22:34:30-05:00
4    1364536588  1364559530     22942 2013-03-29 00:56:28-05:00
..          ...         ...       ...                       ...
142  1369831352  1369845277     13925 2013-05-29 07:42:32-05:00
143  1369846571  1369865060     18489 2013-05-29 11:56:11-05:00
144  1369867697  1369872315      4618 2013-05-29 17:48:17-05:00
145  1369882006  1369886095      4089 2013-05-29 21:46:46-05:00
146  1370003932  1370023638     19706 2013-05-31 07:38:52-05:00

                 end_datetime
0   2013-03-27 17:47:41-05:00
1   2013-03-28 13:56:11-05:00
2   2013-03-28 19:27:24-05:00
3   2013-03-28 23:54:19-05:00
4   2013-03-29 07:18:50-05:00
..                        ...
142 2013-05-29 11:34:37-05:00
143 2013-05-29 17:04:20-05:00
144 2013-05-29 19:05:15-05:00
145 2013-05-29 22:54:55-05:00
146 2013-05-31 13:07:18-05:00

[147 rows x 5 columns]
          start         end  duration            start_datetime  \
0    1364425742  1364429985      4243 2013-03-27 18:09:02-05:00
1    1364446089  1364475601     29512 2013-03-27 23:48:09-05:00
2    1364477702  1364483860      6158 2013-03-28 08:35:02-05:00
3    1364493843  1364497527      3684 2013-03-28 13:04:03-05:00
4    1364502662  1364507969      5307 2013-03-28 15:31:02-05:00
..          ...         ...       ...                       ...
231  1369969386  1369973144      3758 2013-05-30 22:03:06-05:00
232  1369973194  1370007021     33827 2013-05-30 23:06:34-05:00
233  1370007259  1370017642     10383 2013-05-31 08:34:19-05:00
234  1370019331  1370047087     27756 2013-05-31 11:55:31-05:00
235  1370047246  1370052612      5366 2013-05-31 19:40:46-05:00

                 end_datetime
0   2013-03-27 19:19:45-05:00
1   2013-03-28 08:00:01-05:00
2   2013-03-28 10:17:40-05:00
3   2013-03-28 14:05:27-05:00
4   2013-03-28 16:59:29-05:00
..                        ...
231 2013-05-30 23:05:44-05:00
232 2013-05-31 08:30:21-05:00
233 2013-05-31 11:27:22-05:00
234 2013-05-31 19:38:07-05:00
235 2013-05-31 21:10:12-05:00

[236 rows x 5 columns]

          start         end  duration            start_datetime  \
0    1364426534  1364434844      8310 2013-03-27 18:22:14-05:00
1    1364434875  1364446014     11139 2013-03-27 20:41:15-05:00
2    1364459241  1364463019      3778 2013-03-28 03:27:21-05:00
3    1364481384  1364485415      4031 2013-03-28 09:36:24-05:00
4    1364505735  1364509494      3759 2013-03-28 16:22:15-05:00
..          ...         ...       ...                       ...
203  1369881245  1369887631      6386 2013-05-29 21:34:05-05:00
204  1369890787  1369894535      3748 2013-05-30 00:13:07-05:00
205  1369894838  1369900806      5968 2013-05-30 01:20:38-05:00
206  1369900879  1369922281     21402 2013-05-30 03:01:19-05:00
207  1369978502  1369984918      6416 2013-05-31 00:35:02-05:00

                 end_datetime
0   2013-03-27 20:40:44-05:00
1   2013-03-27 23:46:54-05:00
2   2013-03-28 04:30:19-05:00
3   2013-03-28 10:43:35-05:00
4   2013-03-28 17:24:54-05:00
..                        ...
203 2013-05-29 23:20:31-05:00
204 2013-05-30 01:15:35-05:00
205 2013-05-30 03:00:06-05:00
206 2013-05-30 08:58:01-05:00
207 2013-05-31 02:21:58-05:00

[208 rows x 5 columns]
          start         end  duration            start_datetime  \
0    1364420848  1364424537      3689 2013-03-27 16:47:28-05:00
1    1364429541  1364433659      4118 2013-03-27 19:12:21-05:00
2    1364433714  1364441435      7721 2013-03-27 20:21:54-05:00
3    1364441442  1364454879     13437 2013-03-27 22:30:42-05:00
4    1364455014  1364484832     29818 2013-03-28 02:16:54-05:00
..          ...         ...       ...                       ...
223  1369973596  1370007916     34320 2013-05-30 23:13:16-05:00
224  1370007957  1370015905      7948 2013-05-31 08:45:57-05:00
225  1370015936  1370028910     12974 2013-05-31 10:58:56-05:00
226  1370029257  1370036925      7668 2013-05-31 14:40:57-05:00
227  1370037059  1370052257     15198 2013-05-31 16:50:59-05:00

                 end_datetime
0   2013-03-27 17:48:57-05:00
1   2013-03-27 20:20:59-05:00
2   2013-03-27 22:30:35-05:00
3   2013-03-28 02:14:39-05:00
4   2013-03-28 10:33:52-05:00
..                        ...
223 2013-05-31 08:45:16-05:00
224 2013-05-31 10:58:25-05:00
225 2013-05-31 14:35:10-05:00
226 2013-05-31 16:48:45-05:00
227 2013-05-31 21:04:17-05:00

[228 rows x 5 columns]
          start         end  duration            start_datetime  \
0    1364453240  1364478135     24895 2013-03-28 01:47:20-05:00
1    1364478137  1364482800      4663 2013-03-28 08:42:17-05:00
2    1364526402  1364534544      8142 2013-03-28 22:06:42-05:00
3    1364537354  1364562001     24647 2013-03-29 01:09:14-05:00
4    1364605968  1364618463     12495 2013-03-29 20:12:48-05:00
..          ...         ...       ...                       ...
181  1368759820  1368763705      3885 2013-05-16 22:03:40-05:00
182  1368767067  1368778632     11565 2013-05-17 00:04:27-05:00
183  1368781221  1368788400      7179 2013-05-17 04:00:21-05:00
184  1368832606  1368847816     15210 2013-05-17 18:16:46-05:00
185  1369877824  1369885645      7821 2013-05-29 20:37:04-05:00

                 end_datetime
0   2013-03-28 08:42:15-05:00
1   2013-03-28 10:00:00-05:00
2   2013-03-29 00:22:24-05:00
3   2013-03-29 08:00:01-05:00
4   2013-03-29 23:41:03-05:00
..                        ...
181 2013-05-16 23:08:25-05:00
182 2013-05-17 03:17:12-05:00
183 2013-05-17 06:00:00-05:00
184 2013-05-17 22:30:16-05:00
185 2013-05-29 22:47:25-05:00

[186 rows x 5 columns]
         start         end  duration            start_datetime  \
0   1364428270  1364433109      4839 2013-03-27 18:51:10-05:00
1   1364433140  1364441760      8620 2013-03-27 20:12:20-05:00
2   1364493123  1364503024      9901 2013-03-28 12:52:03-05:00
3   1364505736  1364531481     25745 2013-03-28 16:22:16-05:00
4   1364741370  1364753802     12432 2013-03-31 09:49:30-05:00
5   1364753861  1364765446     11585 2013-03-31 13:17:41-05:00
6   1364765604  1364790210     24606 2013-03-31 16:33:24-05:00
7   1364790241  1364823985     33744 2013-03-31 23:24:01-05:00
8   1364832584  1364843266     10682 2013-04-01 11:09:44-05:00
9   1364850443  1364855353      4910 2013-04-01 16:07:23-05:00
10  1364859667  1364874665     14998 2013-04-01 18:41:07-05:00
11  1364924717  1364929309      4592 2013-04-02 12:45:17-05:00
12  1364931605  1364938153      6548 2013-04-02 14:40:05-05:00
13  1364939201  1364950336     11135 2013-04-02 16:46:41-05:00
14  1364961164  1364996976     35812 2013-04-02 22:52:44-05:00
15  1364999903  1365020081     20178 2013-04-03 09:38:23-05:00
16  1365024495  1365031486      6991 2013-04-03 16:28:15-05:00
17  1365098770  1365106673      7903 2013-04-04 13:06:10-05:00
18  1365111128  1365126111     14983 2013-04-04 16:32:08-05:00
19  1365174277  1365187611     13334 2013-04-05 10:04:37-05:00
20  1365204659  1365212974      8315 2013-04-05 18:30:59-05:00
21  1365271574  1365283276     11702 2013-04-06 13:06:14-05:00
22  1365283369  1365306451     23082 2013-04-06 16:22:49-05:00
23  1365522122  1365538948     16826 2013-04-09 10:42:02-05:00
24  1365539090  1365559686     20596 2013-04-09 15:24:50-05:00
25  1366063261  1366068317      5056 2013-04-15 17:01:01-05:00
26  1366068537  1366085524     16987 2013-04-15 18:28:57-05:00
27  1366385568  1366401411     15843 2013-04-19 10:32:48-05:00
28  1367248264  1367252685      4421 2013-04-29 10:11:04-05:00
29  1367973134  1367988248     15114 2013-05-07 19:32:14-05:00
30  1368198885  1368203833      4948 2013-05-10 10:14:45-05:00
31  1368383978  1368388254      4276 2013-05-12 13:39:38-05:00
32  1368429097  1368457991     28894 2013-05-13 02:11:37-05:00
33  1368469065  1368477117      8052 2013-05-13 13:17:45-05:00
34  1368482050  1368498448     16398 2013-05-13 16:54:10-05:00
35  1368557745  1368572140     14395 2013-05-14 13:55:45-05:00
36  1368988353  1368996533      8180 2013-05-19 13:32:33-05:00
37  1369668743  1369673127      4384 2013-05-27 10:32:23-05:00
38  1369677418  1369681336      3918 2013-05-27 12:56:58-05:00
39  1369681507  1369688120      6613 2013-05-27 14:05:07-05:00

                end_datetime
0  2013-03-27 20:11:49-05:00
1  2013-03-27 22:36:00-05:00
2  2013-03-28 15:37:04-05:00
3  2013-03-28 23:31:21-05:00
4  2013-03-31 13:16:42-05:00
5  2013-03-31 16:30:46-05:00
6  2013-03-31 23:23:30-05:00
7  2013-04-01 08:46:25-05:00
8  2013-04-01 14:07:46-05:00
9  2013-04-01 17:29:13-05:00
10 2013-04-01 22:51:05-05:00
11 2013-04-02 14:01:49-05:00
12 2013-04-02 16:29:13-05:00
13 2013-04-02 19:52:16-05:00
14 2013-04-03 08:49:36-05:00
15 2013-04-03 15:14:41-05:00
16 2013-04-03 18:24:46-05:00
17 2013-04-04 15:17:53-05:00
18 2013-04-04 20:41:51-05:00
19 2013-04-05 13:46:51-05:00
20 2013-04-05 20:49:34-05:00
21 2013-04-06 16:21:16-05:00
22 2013-04-06 22:47:31-05:00
23 2013-04-09 15:22:28-05:00
24 2013-04-09 21:08:06-05:00
25 2013-04-15 18:25:17-05:00
26 2013-04-15 23:12:04-05:00
27 2013-04-19 14:56:51-05:00
28 2013-04-29 11:24:45-05:00
29 2013-05-07 23:44:08-05:00
30 2013-05-10 11:37:13-05:00
31 2013-05-12 14:50:54-05:00
32 2013-05-13 10:13:11-05:00
33 2013-05-13 15:31:57-05:00
34 2013-05-13 21:27:28-05:00
35 2013-05-14 17:55:40-05:00
36 2013-05-19 15:48:53-05:00
37 2013-05-27 11:45:27-05:00
38 2013-05-27 14:02:16-05:00
39 2013-05-27 15:55:20-05:00
          start         end  duration            start_datetime  \
0    1364492494  1364498804      6310 2013-03-28 12:41:34-05:00
1    1364498980  1364506906      7926 2013-03-28 14:29:40-05:00
2    1364507317  1364516400      9083 2013-03-28 16:48:37-05:00
3    1364519446  1364526779      7333 2013-03-28 20:10:46-05:00
4    1364526902  1364532997      6095 2013-03-28 22:15:02-05:00
..          ...         ...       ...                       ...
99   1369639481  1369661416     21935 2013-05-27 02:24:41-05:00
100  1369682527  1369688643      6116 2013-05-27 14:22:07-05:00
101  1369692966  1369709662     16696 2013-05-27 17:16:06-05:00
102  1369794280  1369798653      4373 2013-05-28 21:24:40-05:00
103  1370030188  1370036802      6614 2013-05-31 14:56:28-05:00

                 end_datetime
0   2013-03-28 14:26:44-05:00
1   2013-03-28 16:41:46-05:00
2   2013-03-28 19:20:00-05:00
3   2013-03-28 22:12:59-05:00
4   2013-03-28 23:56:37-05:00
..                        ...
99  2013-05-27 08:30:16-05:00
100 2013-05-27 16:04:03-05:00
101 2013-05-27 21:54:22-05:00
102 2013-05-28 22:37:33-05:00
103 2013-05-31 16:46:42-05:00

[104 rows x 5 columns]
          start         end  duration            start_datetime  \
0    1364493003  1364500871      7868 2013-03-28 12:50:03-05:00
1    1364506823  1364513284      6461 2013-03-28 16:40:23-05:00
2    1364513298  1364520122      6824 2013-03-28 18:28:18-05:00
3    1364537051  1364563017     25966 2013-03-29 01:04:11-05:00
4    1364565291  1364581476     16185 2013-03-29 08:54:51-05:00
..          ...         ...       ...                       ...
328  1369973835  1370006170     32335 2013-05-30 23:17:15-05:00
329  1370018253  1370024997      6744 2013-05-31 11:37:33-05:00
330  1370032583  1370036656      4073 2013-05-31 15:36:23-05:00
331  1370038580  1370043832      5252 2013-05-31 17:16:20-05:00
332  1370050104  1370054959      4855 2013-05-31 20:28:24-05:00

                 end_datetime
0   2013-03-28 15:01:11-05:00
1   2013-03-28 18:28:04-05:00
2   2013-03-28 20:22:02-05:00
3   2013-03-29 08:16:57-05:00
4   2013-03-29 13:24:36-05:00
..                        ...
328 2013-05-31 08:16:10-05:00
329 2013-05-31 13:29:57-05:00
330 2013-05-31 16:44:16-05:00
331 2013-05-31 18:43:52-05:00
332 2013-05-31 21:49:19-05:00

[333 rows x 5 columns]
         start         end  duration            start_datetime  \
0   1364512538  1364528397     15859 2013-03-28 18:15:38-05:00
1   1364915956  1364920480      4524 2013-04-02 10:19:16-05:00
2   1364921616  1364928297      6681 2013-04-02 11:53:36-05:00
3   1364929834  1364937145      7311 2013-04-02 14:10:34-05:00
4   1364941773  1364959665     17892 2013-04-02 17:29:33-05:00
5   1365011140  1365016622      5482 2013-04-03 12:45:40-05:00
6   1365818855  1365822957      4102 2013-04-12 21:07:35-05:00
7   1366032725  1366067296     34571 2013-04-15 08:32:05-05:00
8   1366166285  1366171458      5173 2013-04-16 21:38:05-05:00
9   1366816013  1366825916      9903 2013-04-24 10:06:53-05:00
10  1366826174  1366830158      3984 2013-04-24 12:56:14-05:00
11  1366832962  1366851467     18505 2013-04-24 14:49:22-05:00
12  1366853688  1366858030      4342 2013-04-24 20:34:48-05:00

                end_datetime
0  2013-03-28 22:39:57-05:00
1  2013-04-02 11:34:40-05:00
2  2013-04-02 13:44:57-05:00
3  2013-04-02 16:12:25-05:00
4  2013-04-02 22:27:45-05:00
5  2013-04-03 14:17:02-05:00
6  2013-04-12 22:15:57-05:00
7  2013-04-15 18:08:16-05:00
8  2013-04-16 23:04:18-05:00
9  2013-04-24 12:51:56-05:00
10 2013-04-24 14:02:38-05:00
11 2013-04-24 19:57:47-05:00
12 2013-04-24 21:47:10-05:00
         start         end  duration            start_datetime  \
0   1364516905  1364522334      5429 2013-03-28 19:28:25-05:00
1   1364525289  1364533785      8496 2013-03-28 21:48:09-05:00
2   1364537104  1364563162     26058 2013-03-29 01:05:04-05:00
3   1364568524  1364573631      5107 2013-03-29 09:48:44-05:00
4   1364573975  1364578449      4474 2013-03-29 11:19:35-05:00
..         ...         ...       ...                       ...
63  1369431149  1369440189      9040 2013-05-24 16:32:29-05:00
64  1369698625  1369714431     15806 2013-05-27 18:50:25-05:00
65  1369719491  1369755376     35885 2013-05-28 00:38:11-05:00
66  1369755382  1369766543     11161 2013-05-28 10:36:22-05:00
67  1369838248  1369851274     13026 2013-05-29 09:37:28-05:00

                end_datetime
0  2013-03-28 20:58:54-05:00
1  2013-03-29 00:09:45-05:00
2  2013-03-29 08:19:22-05:00
3  2013-03-29 11:13:51-05:00
4  2013-03-29 12:34:09-05:00
..                       ...
63 2013-05-24 19:03:09-05:00
64 2013-05-27 23:13:51-05:00
65 2013-05-28 10:36:16-05:00
66 2013-05-28 13:42:23-05:00
67 2013-05-29 13:14:34-05:00

[68 rows x 5 columns]
         start         end  duration            start_datetime  \
0   1364856426  1364863614      7188 2013-04-01 17:47:06-05:00
1   1364863776  1364874584     10808 2013-04-01 19:49:36-05:00
2   1364875485  1364889928     14443 2013-04-01 23:04:45-05:00
3   1364890597  1364915747     25150 2013-04-02 03:16:37-05:00
4   1364917293  1364924481      7188 2013-04-02 10:41:33-05:00
..         ...         ...       ...                       ...
93  1368987105  1368991123      4018 2013-05-19 13:11:45-05:00
94  1368994991  1369004205      9214 2013-05-19 15:23:11-05:00
95  1369004225  1369038274     34049 2013-05-19 17:57:05-05:00
96  1369093069  1369098022      4953 2013-05-20 18:37:49-05:00
97  1369098203  1369125140     26937 2013-05-20 20:03:23-05:00

                end_datetime
0  2013-04-01 19:46:54-05:00
1  2013-04-01 22:49:44-05:00
2  2013-04-02 03:05:28-05:00
3  2013-04-02 10:15:47-05:00
4  2013-04-02 12:41:21-05:00
..                       ...
93 2013-05-19 14:18:43-05:00
94 2013-05-19 17:56:45-05:00
95 2013-05-20 03:24:34-05:00
96 2013-05-20 20:00:22-05:00
97 2013-05-21 03:32:20-05:00

[98 rows x 5 columns]
          start         end  duration            start_datetime  \
0    1364830294  1364839695      9401 2013-04-01 10:31:34-05:00
1    1364873990  1364905455     31465 2013-04-01 22:39:50-05:00
2    1364925154  1364936653     11499 2013-04-02 12:52:34-05:00
3    1364936720  1364941740      5020 2013-04-02 16:05:20-05:00
4    1364964066  1364989003     24937 2013-04-02 23:41:06-05:00
..          ...         ...       ...                       ...
157  1369695139  1369700429      5290 2013-05-27 17:52:19-05:00
158  1369754078  1369770609     16531 2013-05-28 10:14:38-05:00
159  1369776136  1369780322      4186 2013-05-28 16:22:16-05:00
160  1369786714  1369790771      4057 2013-05-28 19:18:34-05:00
161  1369836576  1369842653      6077 2013-05-29 09:09:36-05:00

                 end_datetime
0   2013-04-01 13:08:15-05:00
1   2013-04-02 07:24:15-05:00
2   2013-04-02 16:04:13-05:00
3   2013-04-02 17:29:00-05:00
4   2013-04-03 06:36:43-05:00
..                        ...
157 2013-05-27 19:20:29-05:00
158 2013-05-28 14:50:09-05:00
159 2013-05-28 17:32:02-05:00
160 2013-05-28 20:26:11-05:00
161 2013-05-29 10:50:53-05:00

[162 rows x 5 columns]
          start         end  duration            start_datetime  \
0    1364842153  1364852021      9868 2013-04-01 13:49:13-05:00
1    1364852146  1364858145      5999 2013-04-01 16:35:46-05:00
2    1364958136  1364962443      4307 2013-04-02 22:02:16-05:00
3    1364964831  1364991732     26901 2013-04-02 23:53:51-05:00
4    1365001823  1365007801      5978 2013-04-03 10:10:23-05:00
..          ...         ...       ...                       ...
220  1369661404  1369670675      9271 2013-05-27 08:30:04-05:00
221  1369671552  1369675388      3836 2013-05-27 11:19:12-05:00
222  1369682871  1369693908     11037 2013-05-27 14:27:51-05:00
223  1369967215  1369986880     19665 2013-05-30 21:26:55-05:00
224  1369986907  1370020541     33634 2013-05-31 02:55:07-05:00

                 end_datetime
0   2013-04-01 16:33:41-05:00
1   2013-04-01 18:15:45-05:00
2   2013-04-02 23:14:03-05:00
3   2013-04-03 07:22:12-05:00
4   2013-04-03 11:50:01-05:00
..                        ...
220 2013-05-27 11:04:35-05:00
221 2013-05-27 12:23:08-05:00
222 2013-05-27 17:31:48-05:00
223 2013-05-31 02:54:40-05:00
224 2013-05-31 12:15:41-05:00

[225 rows x 5 columns]

          start         end  duration            start_datetime  \
0    1364857175  1364862669      5494 2013-04-01 17:59:35-05:00
1    1364865979  1364874163      8184 2013-04-01 20:26:19-05:00
2    1364877054  1364881857      4803 2013-04-01 23:30:54-05:00
3    1364886905  1364911837     24932 2013-04-02 02:15:05-05:00
4    1364912708  1364920558      7850 2013-04-02 09:25:08-05:00
..          ...         ...       ...                       ...
179  1369750689  1369760241      9552 2013-05-28 09:18:09-05:00
180  1369760489  1369770940     10451 2013-05-28 12:01:29-05:00
181  1369775998  1369782058      6060 2013-05-28 16:19:58-05:00
182  1369782209  1369791239      9030 2013-05-28 18:03:29-05:00
183  1369792054  1369799406      7352 2013-05-28 20:47:34-05:00

                 end_datetime
0   2013-04-01 19:31:09-05:00
1   2013-04-01 22:42:43-05:00
2   2013-04-02 00:50:57-05:00
3   2013-04-02 09:10:37-05:00
4   2013-04-02 11:35:58-05:00
..                        ...
179 2013-05-28 11:57:21-05:00
180 2013-05-28 14:55:40-05:00
181 2013-05-28 18:00:58-05:00
182 2013-05-28 20:33:59-05:00
183 2013-05-28 22:50:06-05:00

[184 rows x 5 columns]
          start         end  duration            start_datetime  \
0    1364764969  1364768652      3683 2013-03-31 16:22:49-05:00
1    1364804247  1364821201     16954 2013-04-01 03:17:27-05:00
2    1364821291  1364826540      5249 2013-04-01 08:01:31-05:00
3    1364833403  1364837551      4148 2013-04-01 11:23:23-05:00
4    1364849463  1364854006      4543 2013-04-01 15:51:03-05:00
..          ...         ...       ...                       ...
159  1369026608  1369037296     10688 2013-05-20 00:10:08-05:00
160  1369052539  1369056601      4062 2013-05-20 07:22:19-05:00
161  1369057536  1369066513      8977 2013-05-20 08:45:36-05:00
162  1369123141  1369144800     21659 2013-05-21 02:59:01-05:00
163  1369287141  1369291666      4525 2013-05-23 00:32:21-05:00

                 end_datetime
0   2013-03-31 17:24:12-05:00
1   2013-04-01 08:00:01-05:00
2   2013-04-01 09:29:00-05:00
3   2013-04-01 12:32:31-05:00
4   2013-04-01 17:06:46-05:00
..                        ...
159 2013-05-20 03:08:16-05:00
160 2013-05-20 08:30:01-05:00
161 2013-05-20 11:15:13-05:00
162 2013-05-21 09:00:00-05:00
163 2013-05-23 01:47:46-05:00

[164 rows x 5 columns]
         start         end  duration            start_datetime  \
0   1364502366  1364530987     28621 2013-03-28 15:26:06-05:00
1   1364531091  1364565547     34456 2013-03-28 23:24:51-05:00
2   1364569747  1364584474     14727 2013-03-29 10:09:07-05:00
3   1364659843  1364671298     11455 2013-03-30 11:10:43-05:00
4   1364671329  1364692195     20866 2013-03-30 14:22:09-05:00
..         ...         ...       ...                       ...
80  1369767721  1369774417      6696 2013-05-28 14:02:01-05:00
81  1369814680  1369821632      6952 2013-05-29 03:04:40-05:00
82  1369821649  1369833947     12298 2013-05-29 05:00:49-05:00
83  1369895495  1369914370     18875 2013-05-30 01:31:35-05:00
84  1369914408  1369922878      8470 2013-05-30 06:46:48-05:00

                end_datetime
0  2013-03-28 23:23:07-05:00
1  2013-03-29 08:59:07-05:00
2  2013-03-29 14:14:34-05:00
3  2013-03-30 14:21:38-05:00
4  2013-03-30 20:09:55-05:00
..                       ...
80 2013-05-28 15:53:37-05:00
81 2013-05-29 05:00:32-05:00
82 2013-05-29 08:25:47-05:00
83 2013-05-30 06:46:10-05:00
84 2013-05-30 09:07:58-05:00

[85 rows x 5 columns]
          start         end  duration            start_datetime  \
0    1364528115  1364538326     10211 2013-03-28 22:35:15-05:00
1    1364541799  1364546135      4336 2013-03-29 02:23:19-05:00
2    1364561168  1364565029      3861 2013-03-29 07:46:08-05:00
3    1364614985  1364635274     20289 2013-03-29 22:43:05-05:00
4    1364653387  1364663447     10060 2013-03-30 09:23:07-05:00
..          ...         ...       ...                       ...
274  1370007080  1370012221      5141 2013-05-31 08:31:20-05:00
275  1370014482  1370022228      7746 2013-05-31 10:34:42-05:00
276  1370022405  1370027634      5229 2013-05-31 12:46:45-05:00
277  1370034651  1370043366      8715 2013-05-31 16:10:51-05:00
278  1370050914  1370055291      4377 2013-05-31 20:41:54-05:00

                 end_datetime
0   2013-03-29 01:25:26-05:00
1   2013-03-29 03:35:35-05:00
2   2013-03-29 08:50:29-05:00
3   2013-03-30 04:21:14-05:00
4   2013-03-30 12:10:47-05:00
..                        ...
274 2013-05-31 09:57:01-05:00
275 2013-05-31 12:43:48-05:00
276 2013-05-31 14:13:54-05:00
277 2013-05-31 18:36:06-05:00
278 2013-05-31 21:54:51-05:00

[279 rows x 5 columns]
          start         end  duration            start_datetime  \
0    1364495401  1364499221      3820 2013-03-28 13:30:01-05:00
1    1364501648  1364527861     26213 2013-03-28 15:14:08-05:00
2    1364578588  1364590673     12085 2013-03-29 12:36:28-05:00
3    1364590730  1364594599      3869 2013-03-29 15:58:50-05:00
4    1364595171  1364600687      5516 2013-03-29 17:12:51-05:00
..          ...         ...       ...                       ...
96   1368581250  1368585124      3874 2013-05-14 20:27:30-05:00
97   1369786744  1369790733      3989 2013-05-28 19:19:04-05:00
98   1369793623  1369799082      5459 2013-05-28 21:13:43-05:00
99   1370024649  1370029529      4880 2013-05-31 13:24:09-05:00
100  1370029608  1370034326      4718 2013-05-31 14:46:48-05:00

                 end_datetime
0   2013-03-28 14:33:41-05:00
1   2013-03-28 22:31:01-05:00
2   2013-03-29 15:57:53-05:00
3   2013-03-29 17:03:19-05:00
4   2013-03-29 18:44:47-05:00
..                        ...
96  2013-05-14 21:32:04-05:00
97  2013-05-28 20:25:33-05:00
98  2013-05-28 22:44:42-05:00
99  2013-05-31 14:45:29-05:00
100 2013-05-31 16:05:26-05:00

[101 rows x 5 columns]
          start         end  duration            start_datetime  \
0    1364400451  1364406161      5710 2013-03-27 11:07:31-05:00
1    1364406336  1364410523      4187 2013-03-27 12:45:36-05:00
2    1364437208  1364443800      6592 2013-03-27 21:20:08-05:00
3    1364449651  1364480382     30731 2013-03-28 00:47:31-05:00
4    1364480436  1364486621      6185 2013-03-28 09:20:36-05:00
..          ...         ...       ...                       ...
311  1369974892  1370006978     32086 2013-05-30 23:34:52-05:00
312  1370007006  1370016479      9473 2013-05-31 08:30:06-05:00
313  1370016532  1370020995      4463 2013-05-31 11:08:52-05:00
314  1370022022  1370039951     17929 2013-05-31 12:40:22-05:00
315  1370045613  1370058388     12775 2013-05-31 19:13:33-05:00

                 end_datetime
0   2013-03-27 12:42:41-05:00
1   2013-03-27 13:55:23-05:00
2   2013-03-27 23:10:00-05:00
3   2013-03-28 09:19:42-05:00
4   2013-03-28 11:03:41-05:00
..                        ...
311 2013-05-31 08:29:38-05:00
312 2013-05-31 11:07:59-05:00
313 2013-05-31 12:23:15-05:00
314 2013-05-31 17:39:11-05:00
315 2013-05-31 22:46:28-05:00

[316 rows x 5 columns]
          start         end  duration            start_datetime  \
0    1364530696  1364554801     24105 2013-03-28 23:18:16-05:00
1    1364554871  1364559426      4555 2013-03-29 06:01:11-05:00
2    1364565151  1364569670      4519 2013-03-29 08:52:31-05:00
3    1364573978  1364578421      4443 2013-03-29 11:19:38-05:00
4    1364578490  1364590326     11836 2013-03-29 12:34:50-05:00
..          ...         ...       ...                       ...
311  1369948566  1369957111      8545 2013-05-30 16:16:06-05:00
312  1369957128  1369960879      3751 2013-05-30 18:38:48-05:00
313  1369963875  1369983578     19703 2013-05-30 20:31:15-05:00
314  1370036915  1370044510      7595 2013-05-31 16:48:35-05:00
315  1370047234  1370055572      8338 2013-05-31 19:40:34-05:00

                 end_datetime
0   2013-03-29 06:00:01-05:00
1   2013-03-29 07:17:06-05:00
2   2013-03-29 10:07:50-05:00
3   2013-03-29 12:33:41-05:00
4   2013-03-29 15:52:06-05:00
..                        ...
311 2013-05-30 18:38:31-05:00
312 2013-05-30 19:41:19-05:00
313 2013-05-31 01:59:38-05:00
314 2013-05-31 18:55:10-05:00
315 2013-05-31 21:59:32-05:00

[316 rows x 5 columns]
          start         end  duration            start_datetime  \
0    1364400440  1364408303      7863 2013-03-27 11:07:20-05:00
1    1364416374  1364422372      5998 2013-03-27 15:32:54-05:00
2    1364425129  1364429611      4482 2013-03-27 17:58:49-05:00
3    1364432904  1364440402      7498 2013-03-27 20:08:24-05:00
4    1364440500  1364468343     27843 2013-03-27 22:15:00-05:00
..          ...         ...       ...                       ...
236  1369934896  1369939176      4280 2013-05-30 12:28:16-05:00
237  1369939183  1369957213     18030 2013-05-30 13:39:43-05:00
238  1369957327  1369987879     30552 2013-05-30 18:42:07-05:00
239  1369987905  1370010600     22695 2013-05-31 03:11:45-05:00
240  1370013300  1370022121      8821 2013-05-31 10:15:00-05:00

                 end_datetime
0   2013-03-27 13:18:23-05:00
1   2013-03-27 17:12:52-05:00
2   2013-03-27 19:13:31-05:00
3   2013-03-27 22:13:22-05:00
4   2013-03-28 05:59:03-05:00
..                        ...
236 2013-05-30 13:39:36-05:00
237 2013-05-30 18:40:13-05:00
238 2013-05-31 03:11:19-05:00
239 2013-05-31 09:30:00-05:00
240 2013-05-31 12:42:01-05:00

[241 rows x 5 columns]
          start         end  duration            start_datetime  \
0    1364424696  1364428529      3833 2013-03-27 17:51:36-05:00
1    1364428672  1364434192      5520 2013-03-27 18:57:52-05:00
2    1364441865  1364463609     21744 2013-03-27 22:37:45-05:00
3    1364463799  1364468371      4572 2013-03-28 04:43:19-05:00
4    1364469990  1364474104      4114 2013-03-28 06:26:30-05:00
..          ...         ...       ...                       ...
160  1368087261  1368103634     16373 2013-05-09 03:14:21-05:00
161  1369870727  1369874671      3944 2013-05-29 18:38:47-05:00
162  1369890022  1369895637      5615 2013-05-30 00:00:22-05:00
163  1369896754  1369905351      8597 2013-05-30 01:52:34-05:00
164  1369905396  1369923607     18211 2013-05-30 04:16:36-05:00

                 end_datetime
0   2013-03-27 18:55:29-05:00
1   2013-03-27 20:29:52-05:00
2   2013-03-28 04:40:09-05:00
3   2013-03-28 05:59:31-05:00
4   2013-03-28 07:35:04-05:00
..                        ...
160 2013-05-09 07:47:14-05:00
161 2013-05-29 19:44:31-05:00
162 2013-05-30 01:33:57-05:00
163 2013-05-30 04:15:51-05:00
164 2013-05-30 09:20:07-05:00

[165 rows x 5 columns]

          start         end  duration            start_datetime  \
0    1364357933  1364388300     30367 2013-03-26 23:18:53-05:00
1    1364388341  1364392801      4460 2013-03-27 07:45:41-05:00
2    1364597014  1364601186      4172 2013-03-29 17:43:34-05:00
3    1364608938  1364614933      5995 2013-03-29 21:02:18-05:00
4    1364614950  1364644500     29550 2013-03-29 22:42:30-05:00
..          ...         ...       ...                       ...
132  1369777819  1369799935     22116 2013-05-28 16:50:19-05:00
133  1369799968  1369832924     32956 2013-05-28 22:59:28-05:00
134  1369922714  1369945893     23179 2013-05-30 09:05:14-05:00
135  1370005233  1370018761     13528 2013-05-31 08:00:33-05:00
136  1370018785  1370044921     26136 2013-05-31 11:46:25-05:00

                 end_datetime
0   2013-03-27 07:45:00-05:00
1   2013-03-27 09:00:01-05:00
2   2013-03-29 18:53:06-05:00
3   2013-03-29 22:42:13-05:00
4   2013-03-30 06:55:00-05:00
..                        ...
132 2013-05-28 22:58:55-05:00
133 2013-05-29 08:08:44-05:00
134 2013-05-30 15:31:33-05:00
135 2013-05-31 11:46:01-05:00
136 2013-05-31 19:02:01-05:00

[137 rows x 5 columns]
          start         end  duration            start_datetime  \
0    1364356805  1364365045      8240 2013-03-26 23:00:05-05:00
1    1364365064  1364389981     24917 2013-03-27 01:17:44-05:00
2    1364392938  1364396892      3954 2013-03-27 09:02:18-05:00
3    1364405315  1364410886      5571 2013-03-27 12:28:35-05:00
4    1364413649  1364419017      5368 2013-03-27 14:47:29-05:00
..          ...         ...       ...                       ...
287  1369992911  1369998911      6000 2013-05-31 04:35:11-05:00
288  1369999503  1370006255      6752 2013-05-31 06:25:03-05:00
289  1370016112  1370021043      4931 2013-05-31 11:01:52-05:00
290  1370022599  1370029928      7329 2013-05-31 12:49:59-05:00
291  1370033249  1370040977      7728 2013-05-31 15:47:29-05:00

                 end_datetime
0   2013-03-27 01:17:25-05:00
1   2013-03-27 08:13:01-05:00
2   2013-03-27 10:08:12-05:00
3   2013-03-27 14:01:26-05:00
4   2013-03-27 16:16:57-05:00
..                        ...
287 2013-05-31 06:15:11-05:00
288 2013-05-31 08:17:35-05:00
289 2013-05-31 12:24:03-05:00
290 2013-05-31 14:52:08-05:00
291 2013-05-31 17:56:17-05:00

[292 rows x 5 columns]
          start         end  duration            start_datetime  \
0    1364357270  1364383187     25917 2013-03-26 23:07:50-05:00
1    1364385867  1364389978      4111 2013-03-27 07:04:27-05:00
2    1364397743  1364414066     16323 2013-03-27 10:22:23-05:00
3    1364431767  1364437813      6046 2013-03-27 19:49:27-05:00
4    1364450175  1364472001     21826 2013-03-28 00:56:15-05:00
..          ...         ...       ...                       ...
261  1369765219  1369771658      6439 2013-05-28 13:20:19-05:00
262  1369780780  1369789774      8994 2013-05-28 17:39:40-05:00
263  1369791738  1369805513     13775 2013-05-28 20:42:18-05:00
264  1369805587  1369826487     20900 2013-05-29 00:33:07-05:00
265  1369828263  1369834483      6220 2013-05-29 06:51:03-05:00

                 end_datetime
0   2013-03-27 06:19:47-05:00
1   2013-03-27 08:12:58-05:00
2   2013-03-27 14:54:26-05:00
3   2013-03-27 21:30:13-05:00
4   2013-03-28 07:00:01-05:00
..                        ...
261 2013-05-28 15:07:38-05:00
262 2013-05-28 20:09:34-05:00
263 2013-05-29 00:31:53-05:00
264 2013-05-29 06:21:27-05:00
265 2013-05-29 08:34:43-05:00

[266 rows x 5 columns]
          start         end  duration            start_datetime  \
0    1364365278  1364384703     19425 2013-03-27 01:21:18-05:00
1    1364393138  1364397004      3866 2013-03-27 09:05:38-05:00
2    1364397200  1364401385      4185 2013-03-27 10:13:20-05:00
3    1364406127  1364410439      4312 2013-03-27 12:42:07-05:00
4    1364458369  1364472003     13634 2013-03-28 03:12:49-05:00
..          ...         ...       ...                       ...
140  1369867334  1369872411      5077 2013-05-29 17:42:14-05:00
141  1369889508  1369911857     22349 2013-05-29 23:51:48-05:00
142  1369918451  1369928068      9617 2013-05-30 07:54:11-05:00
143  1369934706  1369938753      4047 2013-05-30 12:25:06-05:00
144  1369984790  1370008803     24013 2013-05-31 02:19:50-05:00

                 end_datetime
0   2013-03-27 06:45:03-05:00
1   2013-03-27 10:10:04-05:00
2   2013-03-27 11:23:05-05:00
3   2013-03-27 13:53:59-05:00
4   2013-03-28 07:00:03-05:00
..                        ...
140 2013-05-29 19:06:51-05:00
141 2013-05-30 06:04:17-05:00
142 2013-05-30 10:34:28-05:00
143 2013-05-30 13:32:33-05:00
144 2013-05-31 09:00:03-05:00

[145 rows x 5 columns]

##### Mean locktime by week

In [ ]:
data = []
for i, user in enumerate(df_list):
    data.append([username_list[i]])
    for j in range(0, 10):
        var = []
        for index, row in user.iterrows():
            if j < 9 and row['start_datetime'] > week_list[j] and row['start_datetime'] < week_list[j+1]:
                var.append(row['duration'])
            elif row['start_datetime'] > week_list[j]:
                var.append(row['duration'])
        try:
            var = sum(var) / len(var)
            data[i].append(var)
        except ZeroDivisionError:
            data[i].append(0)

df_locktime_mean = pd.DataFrame(data, columns = ['uid', 'locktime_mean_wk_1', 'locktime_mean_wk_2', 'locktime_mean_wk_3',
                                                'locktime_mean_wk_4', 'locktime_mean_wk_5', 'locktime_mean_wk_6',
                                                'locktime_mean_wk_7', 'locktime_mean_wk_8', 'locktime_mean_wk_9',
                                                'locktime_mean_wk_10'])
df_locktime_mean.to_csv('StudentLife_Dataset/out/locktime_mean.csv', index=False)
print('done')

##### Count phone lock by week

In [ ]:
data = []
for i, user in enumerate(df_list):
    data.append([username_list[i]])
    for j in range(0, 10):
        var = 0
        for index, row in user.iterrows():
            if j < 9 and row['start_datetime'] > week_list[j] and row['start_datetime'] < week_list[j+1]:
                var += 1
            elif row['start_datetime'] > week_list[j]:
                var += 1
        data[i].append(var)

df_locktime_count = pd.DataFrame(data, columns=['uid', 'locktime_count_wk_1', 'locktime_count_wk_2', 'locktime_count_wk_3',
                                               'locktime_count_wk_4', 'locktime_count_wk_5', 'locktime_count_wk_6', 
                                               'locktime_count_wk_7', 'locktime_count_wk_8', 'locktime_count_wk_9', 
                                               'locktime_count_wk_10'])
df_locktime_count.to_csv('StudentLife_Dataset/out/locktime_count.csv', index=False)
print('done')

##### Median locktime by week

In [5]:
data = []
for i, user in enumerate(df_list):
    data.append([username_list[i]])
    for j in range(0, 10):
        var = []
        for index, row in user.iterrows():
            if j < 9 and row['start_datetime'] > week_list[j] and row['start_datetime'] < week_list[j+1]:
                var.append(row['duration'])
            elif row['start_datetime'] > week_list[j]:
                var.append(row['duration'])
        try:
            data[i].append(np.percentile(var, 50))
        except:
            data[i].append(0)

df_locktime_median = pd.DataFrame(data, columns = ['uid', 'locktime_median_wk_1', 'locktime_median_wk_2', 'locktime_median_wk_3',
                                                'locktime_median_wk_4', 'locktime_median_wk_5', 'locktime_median_wk_6',
                                                'locktime_median_wk_7', 'locktime_median_wk_8', 'locktime_median_wk_9',
                                                'locktime_median_wk_10'])
df_locktime_median.to_csv('StudentLife_Dataset/out/locktime_median.csv', index=False)
print('done')

done

##### First quartile locktime by week

In [6]:
data = []
for i, user in enumerate(df_list):
    data.append([username_list[i]])
    for j in range(0, 10):
        var = []
        for index, row in user.iterrows():
            if j < 9 and row['start_datetime'] > week_list[j] and row['start_datetime'] < week_list[j+1]:
                var.append(row['duration'])
            elif row['start_datetime'] > week_list[j]:
                var.append(row['duration'])
        try:
            data[i].append(np.percentile(var, 25))
        except:
            data[i].append(0)

df_locktime_q1 = pd.DataFrame(data, columns = ['uid', 'locktime_q1_wk_1', 'locktime_q1_wk_2', 'locktime_q1_wk_3',
                                                'locktime_q1_wk_4', 'locktime_q1_wk_5', 'locktime_q1_wk_6',
                                                'locktime_q1_wk_7', 'locktime_q1_wk_8', 'locktime_q1_wk_9',
                                                'locktime_q1_wk_10'])
df_locktime_q1.to_csv('StudentLife_Dataset/out/locktime_q1.csv', index=False)
print('done')

done

##### Third quartile locktime by week

In [7]:
data = []
for i, user in enumerate(df_list):
    data.append([username_list[i]])
    for j in range(0, 10):
        var = []
        for index, row in user.iterrows():
            if j < 9 and row['start_datetime'] > week_list[j] and row['start_datetime'] < week_list[j+1]:
                var.append(row['duration'])
            elif row['start_datetime'] > week_list[j]:
                var.append(row['duration'])
        try:
            data[i].append(np.percentile(var, 75))
        except:
            data[i].append(0)

df_locktime_q3 = pd.DataFrame(data, columns = ['uid', 'locktime_q3_wk_1', 'locktime_q3_wk_2', 'locktime_q3_wk_3',
                                                'locktime_q3_wk_4', 'locktime_q3_wk_5', 'locktime_q3_wk_6',
                                                'locktime_q3_wk_7', 'locktime_q3_wk_8', 'locktime_q3_wk_9',
                                                'locktime_q3_wk_10'])
df_locktime_q3.to_csv('StudentLife_Dataset/out/locktime_q3.csv', index=False)
print('done')

done

##### Min locktime by week

In [13]:
data = []
for i, user in enumerate(df_list):
    data.append([username_list[i]])
    for j in range(0, 10):
        var = 86400
        for index, row in user.iterrows():
            if j < 9 and row['start_datetime'] > week_list[j] and row['start_datetime'] < week_list[j+1]:
                if row['duration'] < var:
                    var = row['duration']
            elif row['start_datetime'] > week_list[j]:
                if row['duration'] < var:
                    var = row['duration']
        if var == 86400:
            var = 0
        data[i].append(var)

df_locktime_min = pd.DataFrame(data, columns=['uid', 'locktime_min_wk_1', 'locktime_min_wk_2', 'locktime_min_wk_3',
                                               'locktime_min_wk_4', 'locktime_min_wk_5', 'locktime_min_wk_6', 
                                               'locktime_min_wk_7', 'locktime_min_wk_8', 'locktime_min_wk_9', 
                                               'locktime_min_wk_10'])
df_locktime_min.to_csv('StudentLife_Dataset/out/locktime_min.csv', index=False)
print('done')

done

##### Max locktime by week

In [11]:
data = []
for i, user in enumerate(df_list):
    data.append([username_list[i]])
    for j in range(0, 10):
        var = 0
        for index, row in user.iterrows():
            if j < 9 and row['start_datetime'] > week_list[j] and row['start_datetime'] < week_list[j+1]:
                if row['duration'] > var:
                    var = row['duration']
            elif row['start_datetime'] > week_list[j]:
                if row['duration'] > var:
                    var = row['duration']
        data[i].append(var)

df_locktime_max = pd.DataFrame(data, columns=['uid', 'locktime_max_wk_1', 'locktime_max_wk_2', 'locktime_max_wk_3',
                                               'locktime_max_wk_4', 'locktime_max_wk_5', 'locktime_max_wk_6', 
                                               'locktime_max_wk_7', 'locktime_max_wk_8', 'locktime_max_wk_9', 
                                               'locktime_max_wk_10'])
df_locktime_max.to_csv('StudentLife_Dataset/out/locktime_max.csv', index=False)
print('done')

done

##### F