In [1]:
import pandas as pd
import numpy as np

from sklearn.decomposition import PCA
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import RandomizedSearchCV
from sklearn.neighbors import KNeighborsClassifier

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
import warnings
# warnings.filterwarnings(action='once')
warnings.filterwarnings('ignore')

# Importing

In [2]:
def import_data(data):    
    return pd.read_csv("train_test_data/" + data + ".csv", index_col="uid").drop("Unnamed: 0", axis="columns")        

X_train = import_data("X_train")
X_test = import_data("X_test")
y_train = import_data("y_train")
y_test = import_data("y_test")

X_train.head()
X_test.head()
y_train.head()
y_test.head()

,chargetime_count_wk_1,chargetime_count_wk_2,chargetime_count_wk_3,chargetime_count_wk_4,chargetime_count_wk_5,chargetime_count_wk_6,chargetime_count_wk_7,chargetime_count_wk_8,chargetime_count_wk_9,chargetime_count_wk_10,...,locktime_q3_wk_1,locktime_q3_wk_2,locktime_q3_wk_3,locktime_q3_wk_4,locktime_q3_wk_5,locktime_q3_wk_6,locktime_q3_wk_7,locktime_q3_wk_8,locktime_q3_wk_9,locktime_q3_wk_10
uid,,,,,,,,,,,,,,,,,,,,,
u00,75,65,60,47,31,18,12,7,3,1,...,10751.25,10827.5,10827.50,10924.25,10880.75,10848.50,10473.0,9785.0,9555.50,6308.0
u01,44,39,36,29,23,19,12,10,5,3,...,21632.50,21658.0,21624.00,24227.00,25298.00,23310.00,20985.0,21298.0,15541.25,9186.5
u02,105,98,88,76,62,49,38,30,19,4,...,14639.50,14191.5,14451.00,14502.50,14896.00,17611.75,14191.5,14777.5,18333.00,14254.5
u04,60,54,46,41,31,23,14,8,2,0,...,22332.00,22375.5,22700.75,22718.00,23324.00,23942.00,24879.0,25229.0,26646.00,NaN
u08,107,102,92,79,62,50,38,28,17,6,...,10007.50,10044.5,9948.00,9989.00,9918.00,9761.00,9903.0,9933.0,9989.00,8869.5

,chargetime_count_wk_1,chargetime_count_wk_2,chargetime_count_wk_3,chargetime_count_wk_4,chargetime_count_wk_5,chargetime_count_wk_6,chargetime_count_wk_7,chargetime_count_wk_8,chargetime_count_wk_9,chargetime_count_wk_10,...,locktime_q3_wk_1,locktime_q3_wk_2,locktime_q3_wk_3,locktime_q3_wk_4,locktime_q3_wk_5,locktime_q3_wk_6,locktime_q3_wk_7,locktime_q3_wk_8,locktime_q3_wk_9,locktime_q3_wk_10
uid,,,,,,,,,,,,,,,,,,,,,
u03,47,41,37,30,21,10,6,1,0,0,...,24734.50,28016.00,28016.00,24631.00,25801.00,17806.00,16529.50,17806.0,5735.0,NaN
u27,73,67,52,47,38,31,19,18,12,8,...,13938.00,14609.75,13951.00,14491.00,14349.50,18096.25,18459.25,19254.0,19097.5,18793.25
u05,72,68,61,48,38,29,18,14,10,4,...,18138.25,18786.25,19550.75,20192.00,25011.50,22830.50,17359.75,17141.5,17448.5,16834.25
u43,69,69,57,49,44,35,25,21,14,7,...,16965.25,16965.25,17061.00,17221.25,17900.75,21970.00,24245.25,22225.0,18883.0,9766.50
u56,39,32,21,18,15,13,9,9,6,3,...,20992.00,21379.75,22694.75,23458.00,23239.25,25084.25,24099.00,24099.0,26136.0,24657.50

,panas_pos_raw_pre,panas_neg_raw_pre,flourishing_scale_raw_pre,panas_pos_imp_pre,panas_neg_imp_pre,flourishing_scale_imp_pre,panas_pos_raw_class_pre,panas_neg_raw_class_pre,flourishing_scale_raw_class_pre,panas_pos_imp_class_pre,...,flourishing_scale_raw_post,panas_pos_imp_post,panas_neg_imp_post,flourishing_scale_imp_post,panas_pos_raw_class_post,panas_neg_raw_class_post,flourishing_scale_raw_class_post,panas_pos_imp_class_post,panas_neg_imp_class_post,flourishing_scale_imp_class_post
uid,,,,,,,,,,,,,,,,,,,,,
u00,32.0,NaN,NaN,32.0,33.0,49.0,1.0,NaN,NaN,1.0,...,45.0,31.0,24.0,45.0,1.0,1.0,1.0,1.0,1.0,1.0
u01,30.0,19.0,45.0,30.0,19.0,45.0,1.0,1.0,1.0,1.0,...,46.0,27.0,17.0,46.0,0.0,0.0,1.0,0.0,0.0,1.0
u02,23.0,15.0,46.0,23.0,15.0,46.0,0.0,0.0,1.0,0.0,...,44.0,28.0,13.0,44.0,0.0,0.0,0.0,0.0,0.0,0.0
u04,27.0,14.0,27.0,27.0,14.0,27.0,0.0,0.0,0.0,0.0,...,33.0,34.0,19.0,33.0,1.0,1.0,0.0,1.0,1.0,0.0
u08,30.0,26.0,NaN,30.0,26.0,38.0,1.0,1.0,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

,panas_pos_raw_pre,panas_neg_raw_pre,flourishing_scale_raw_pre,panas_pos_imp_pre,panas_neg_imp_pre,flourishing_scale_imp_pre,panas_pos_raw_class_pre,panas_neg_raw_class_pre,flourishing_scale_raw_class_pre,panas_pos_imp_class_pre,...,flourishing_scale_raw_post,panas_pos_imp_post,panas_neg_imp_post,flourishing_scale_imp_post,panas_pos_raw_class_post,panas_neg_raw_class_post,flourishing_scale_raw_class_post,panas_pos_imp_class_post,panas_neg_imp_class_post,flourishing_scale_imp_class_post
uid,,,,,,,,,,,,,,,,,,,,,
u03,30.0,27.0,34.0,30.0,27.0,34.0,1.0,1.0,0.0,1.0,...,31.0,25.0,20.0,31.0,0.0,1.0,0.0,0.0,1.0,0.0
u27,23.0,18.0,31.0,23.0,18.0,31.0,0.0,0.0,0.0,0.0,...,31.0,19.0,23.0,31.0,0.0,1.0,0.0,0.0,1.0,0.0
u05,32.0,27.0,48.0,32.0,27.0,48.0,1.0,1.0,1.0,1.0,...,50.0,33.0,17.0,50.0,1.0,0.0,1.0,1.0,0.0,1.0
u43,31.0,18.0,47.0,31.0,18.0,47.0,1.0,0.0,1.0,1.0,...,42.0,32.0,21.0,42.0,1.0,1.0,0.0,1.0,1.0,0.0
u56,22.0,9.0,46.0,22.0,9.0,46.0,0.0,0.0,1.0,0.0,...,48.0,29.0,15.0,48.0,1.0,0.0,1.0,1.0,0.0,1.0

# Pre-processing

In [3]:
X_train.head()
X_train.describe()

,chargetime_count_wk_1,chargetime_count_wk_2,chargetime_count_wk_3,chargetime_count_wk_4,chargetime_count_wk_5,chargetime_count_wk_6,chargetime_count_wk_7,chargetime_count_wk_8,chargetime_count_wk_9,chargetime_count_wk_10,...,locktime_q3_wk_1,locktime_q3_wk_2,locktime_q3_wk_3,locktime_q3_wk_4,locktime_q3_wk_5,locktime_q3_wk_6,locktime_q3_wk_7,locktime_q3_wk_8,locktime_q3_wk_9,locktime_q3_wk_10
uid,,,,,,,,,,,,,,,,,,,,,
u00,75,65,60,47,31,18,12,7,3,1,...,10751.25,10827.5,10827.50,10924.25,10880.75,10848.50,10473.0,9785.0,9555.50,6308.0
u01,44,39,36,29,23,19,12,10,5,3,...,21632.50,21658.0,21624.00,24227.00,25298.00,23310.00,20985.0,21298.0,15541.25,9186.5
u02,105,98,88,76,62,49,38,30,19,4,...,14639.50,14191.5,14451.00,14502.50,14896.00,17611.75,14191.5,14777.5,18333.00,14254.5
u04,60,54,46,41,31,23,14,8,2,0,...,22332.00,22375.5,22700.75,22718.00,23324.00,23942.00,24879.0,25229.0,26646.00,NaN
u08,107,102,92,79,62,50,38,28,17,6,...,10007.50,10044.5,9948.00,9989.00,9918.00,9761.00,9903.0,9933.0,9989.00,8869.5

,chargetime_count_wk_1,chargetime_count_wk_2,chargetime_count_wk_3,chargetime_count_wk_4,chargetime_count_wk_5,chargetime_count_wk_6,chargetime_count_wk_7,chargetime_count_wk_8,chargetime_count_wk_9,chargetime_count_wk_10,...,locktime_q3_wk_1,locktime_q3_wk_2,locktime_q3_wk_3,locktime_q3_wk_4,locktime_q3_wk_5,locktime_q3_wk_6,locktime_q3_wk_7,locktime_q3_wk_8,locktime_q3_wk_9,locktime_q3_wk_10
count,40.00000,40.000000,40.000000,40.000000,40.000000,40.000000,40.000000,40.000000,40.000000,40.000000,...,40.000000,40.000000,40.000000,40.000000,40.000000,38.000000,38.000000,38.000000,38.000000,33.000000
mean,69.92500,64.825000,57.150000,48.700000,39.750000,30.175000,23.375000,16.925000,10.625000,4.350000,...,15484.581250,15394.412500,15327.656250,15482.525000,15914.237500,16174.302632,15789.644737,15566.782895,14774.980263,13318.765152
std,34.36112,32.503954,29.627214,26.182006,22.255797,18.395774,16.060283,13.858974,9.818056,4.329683,...,4244.856597,4536.123168,4261.853705,4329.152417,4867.418336,5697.730009,5036.738170,5358.596751,5886.549104,6343.341445
min,1.00000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,9093.500000,9310.250000,8876.500000,8715.000000,8597.000000,8007.000000,8007.000000,6791.000000,5024.750000,5016.250000
25%,47.75000,42.750000,35.750000,31.750000,28.750000,20.500000,12.000000,7.000000,3.000000,1.000000,...,11844.500000,11407.937500,11438.375000,11902.625000,12197.875000,10982.312500,11083.125000,10599.250000,10209.437500,8869.500000
50%,67.00000,61.000000,54.000000,44.500000,35.500000,27.000000,21.000000,15.000000,10.000000,4.000000,...,15522.375000,15497.000000,15404.750000,15046.500000,14801.500000,14533.375000,15262.500000,14836.625000,14240.625000,12303.750000
75%,87.25000,79.750000,70.500000,62.250000,51.500000,40.250000,31.500000,21.500000,15.250000,6.000000,...,17178.312500,17275.625000,17540.062500,18051.125000,18110.375000,20341.000000,19917.187500,19030.750000,18976.000000,18073.250000
max,154.00000,145.000000,130.000000,117.000000,101.000000,78.000000,74.000000,70.000000,49.000000,21.000000,...,27303.250000,29325.250000,25642.500000,26184.000000,25706.000000,28906.000000,26997.750000,27756.000000,28073.000000,26861.250000

# KNN

In [4]:
def report(results, n_top=3):
    for i in range(1, n_top + 1):
        candidates = np.flatnonzero(results['rank_test_score'] == i)
        for candidate in candidates:
            print("Model with rank: {0}".format(i))
            print("Mean validation score: {0:.3f} (std: {1:.3f})".format(
                  results['mean_test_score'][candidate],
                  results['std_test_score'][candidate]))
            print("Parameters: {0}".format(results['params'][candidate]))
            print("")

In [5]:
from sklearn.model_selection import GridSearchCV

def grid_search(estimator, target, scoring, nn=30, n_iter=50, cv=10, n_jobs=-1, n_top=1, verbose=True):
    
    param_grid = {
    "imputer__strategy": ["most_frequent", "mean", "median"],
    "pca__n_components": [0.6, 0.7, 0.8, 0.85, 0.9, 0.95, 0.99],
    "knn__n_neighbors": list(range(1,nn))
    "knn__weights": ["uniform", "distance"],
    "knn__metric": ["euclidean", "manhattan"]
    }
    
    imputer = SimpleImputer()
    scaler = StandardScaler()
    pca = PCA()
    pipe = Pipeline(steps=[('imputer', imputer), ('scaler', scaler), ('pca', pca), ('knn', estimator)])
    
    # train using only labelled data
    target_not_null = np.logical_not(y_train.loc[:, target].isnull())
    
    # run randomised search
    random_search = GridSearchCV(pipe, param_grid=param_grid, cv=cv, n_jobs=n_jobs,
                                       scoring=scoring)
    random_search.fit(X_train[target_not_null], y_train[target_not_null].loc[:, target])
    
    if verbose:
        report(random_search.cv_results_, n_top=n_top)
    
    return random_search.best_estimator_

SyntaxError: invalid syntax (<ipython-input-5-39247f2dad7e>, line 9)

# Flourishing

In [ ]:
knn_gs_flour_class_pre = grid_search(KNeighborsClassifier(algorithm="auto"),
                                     "flourishing_scale_imp_class_pre", "neg_log_loss")

In [ ]:
knn_gs_flour_pre = grid_search(KNeighborsClassifier(algorithm="auto"),
                               "flourishing_scale_imp_pre", "neg_mean_squared_error", cv=4, nn=15)

# Panas

In [ ]:
knn_gs_panas_pos_class_pre = grid_search(KNeighborsClassifier(algorithm="auto"),
                                         "panas_pos_imp_class_pre", "neg_log_loss")

In [ ]:
knn_gs_panas_pos_pre = grid_search(KNeighborsClassifier(algorithm="auto"),
                                   "panas_pos_imp_class_pre", "neg_mean_squared_error")

In [ ]:
knn_gs_panas_pos_class_post = grid_search(KNeighborsClassifier(algorithm="auto"),
                                          "panas_pos_imp_class_post", "neg_log_loss", nn=26)

In [ ]:
knn_gs_panas_pos_post = grid_search(KNeighborsClassifier(algorithm="auto"),
                                    "panas_pos_imp_post", "neg_mean_squared_error", cv=3, nn=11)

In [ ]:
knn_gs_panas_class_pre = grid_search(KNeighborsClassifier(algorithm="auto"),
                                     "panas_neg_imp_class_pre", "neg_log_loss")

In [ ]:
knn_gs_panas_neg_pre = grid_search(KNeighborsClassifier(algorithm="auto"),
                                   "panas_neg_imp_pre", "neg_mean_squared_error", cv=4, nn=17)

In [ ]:
knn_gs_panas_neg_class_post = grid_search(KNeighborsClassifier(algorithm="auto"),
                                          "panas_neg_imp_class_post", "neg_log_loss", nn=26)

In [ ]:
knn_gs_panas_neg_post = grid_search(KNeighborsClassifier(algorithm="auto"),
                                    "panas_neg_imp_post", "neg_mean_squared_error", cv=3, nn=11)